<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- bootstrap -->
    <link href="../../../resources/css/common/bootstrap.min.css" rel="stylesheet">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/12ec987af7.js" crossorigin="anonymous"></script>

    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />

    <!-- Google Fonts Jua -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

 	<!-- socket 통신을 위한 js -->
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- 모달 관련 -->
    <script src="${ contextPath }/resources/js/iziModal.min.js"></script>
    <link rel="stylesheet" href="${ contextPath }/resources/css/iziModal.min.css">

    <!-- 체크박스 관련 스타일 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    
    <!-- alertify -->
     <script src="${ contextPath }/resources/alertify/js/alertify.min.js"></script>
    <link href="${contextPath}/resources/alertify/css/alertify.min.css" rel="stylesheet">
    <link href="${contextPath}/resources/alertify/css/default.min.css" rel="stylesheet">
    <link href="${contextPath}/resources/alertify/css/semantic.min.css" rel="stylesheet">

    <!-- css -->
    <link href="${ contextPath }/resources/css/common/sidebars.css" rel="stylesheet">
    <link rel="stylesheet" href="${ contextPath }/resources/css/common.css">
    <link rel="stylesheet" href="${ contextPath }/resources/css/common/mdb.min.css" />

    <link href="../../../resources/css/mainPage/mian_page.css" rel="stylesheet">
</head>
<body>
    <!-- content 추가 -->
	<div class="content p-5">

        <!-- weather-clock (top) -->
        <div class="weather-div h-2">
            
        </div>
        <!-- weather-clock (top) -->

        <!-- main contents start (bottom) -->
        <div class="main-content">
            
            <!-- main-left start -->
            <div class="mian-content-left">

                <!-- profile & attend (main-left-top)-->
                <div class="profile-attend-div">

                    <div class="profile-img-div">
                        <img src="../../../resources/images/defaultProfile.png" alt="user profile">

                        <div class="mt-2">유가림/판다월드</div>
                    </div>

                    <div class="profile-attend pe-4">
                        <div class="attend-button d-flex my-2">
                            <button class="btn btn-outline-primary px-4 me-auto">출근</button>
                            <label class="attend-time">10:00:00</label>
                        </div>

                        <div class="attend-button d-flex my-2">
                            <button class="btn btn-outline-secondary px-4 me-auto">퇴근</button>
                            <label class="attend-time">10:00:00</label>
                        </div>

                        <div class="attend-button d-flex my-2">
                            <button class="btn btn-outline-warning px-4 me-auto">조퇴</button>
                            <label class="attend-time">10:00:00</label>
                        </div>
                    </div>
                </div>
                <!-- profile & attend (main-left-top)-->

                <!-- today's schedule (main-left-bottom)-->
                <div class="today-schedule h-3">
                    <h5 class="fw-bold text-end mb-3">오늘의 일정</h5>
                    <div>맛점하기</div>
                    <div>부서미팅</div>
                    <div>퇴근하기</div>
                </div>
                <!-- today's schedule (main-left-bottom)-->
            </div>
            <!-- amin-left-end -->

            <!-- main-right start-->
            <div class="main-content-right">

                <!-- my attendance (main-right-top) -->
                <div class="my-attend h-3">
                    
                    <!-- my attend select (left) -->
                    <div class="my-attend-select-div">
                        <select class="year form-select text-center">
                            <option>2000</option>
                            <option>2001</option>
                            <option>2001</option>
                            <option>2001</option>
                            <option>2001</option>
                            <option>2001</option>
                            <option>2001</option>
                            <option>2001</option>
                        </select>
    
                        <select class="month form-select text-center">
                            <option>1월</option>
                            <option>2</option>
                            <option>2</option>
                            <option>2</option>
                            <option>2</option>
                            <option>2</option>
                            <option>2</option>
                            <option>2</option>
                            <option>2</option>
                            <option>2</option>
                            <option>2</option>
                            <option>2</option>
                        </select>
                    </div>
                    <!-- my attend select (left) -->

                    <!-- my attend info (right) -->
                    <div class="my-attend-info-div">
                        <div class="attend-info-div">
                            <div class="attend-info">17</div>
                            <div class="attend-title text-center mt-2 fw-bold">총 연차</div>
                        </div>

                        <div class="attend-info-div">
                            <div class="attend-info">17</div>
                            <div class="attend-title text-center mt-2 fw-bold">사용 연차</div>
                        </div>

                        <div class="attend-info-div">
                            <div class="attend-info">17</div>
                            <div class="attend-title text-center mt-2 fw-bold">잔여 연차</div>
                        </div>

                        <div class="attend-info-div">
                            <div class="attend-info">17</div>
                            <div class="attend-title text-center mt-2 fw-bold">지작계</div>
                        </div>

                        <div class="attend-info-div">
                            <div class="attend-info">17</div>
                            <div class="attend-title text-center mt-2 fw-bold">조퇴계</div>
                        </div>

                        <div class="attend-info-div">
                            <div class="attend-info">17</div>
                            <div class="attend-title text-center mt-2 fw-bold">결근계</div>
                        </div>

                    </div>
                    <!-- my attend info (right) -->
                </div>
                <!-- my attendance (main-right-top) -->

                <!-- alert list start (main-right-middle) -->
                <div class="alert-list-div">
                    <h4>알림함</h4>
                    <table class="table">
                        <tr>
                            <td class="list">유재석 총무부 부장발령</td>
                            <td class="list-date">2024-05-20</td>
                        </tr>
                    </table>


                </div>
                <!-- alert list end (main-right-middle) -->


                <!-- notice list start (main-right-bottom) -->
                <div class="notice-list-div">

                </div>
                <!-- notice list end (main-right-bottom) -->
            </div>
            <!-- main-right end-->
        </div>
        <!-- main contents end (bottom) -->
    </div>
</body>

<script>
    $(document).ready(function(){
        console.log(new Date());
        $(".profile-div-clock").val("gkdl");
    })

</script>

</html>