/* 모든 페이지 공통 */
.main_content{
	width: 1200px !important;
	padding: 20px;
}

/* 1. 조직도 관련 css */
/* 대표이사 위치 */
.tree{
  width: 77.5em;
}
.tree, .tree ul, .tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.tree {
    margin: 20px;
    text-align: center;
}
.tree, .tree ul {
    display: table;
}
.tree ul {
    width: 100%;
}
.tree li {
    display: table-cell;
    padding: .5em 0;
    vertical-align: top;
    position: relative;
}
/* 가로줄 */
.tree li:before {
    outline: solid 1px red;
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    top: -.2em;
    z-index: -1;
}
/* 세로줄 */
/* .tree ul:before  :  대표이사 */
.tree ul:before{
  outline: solid 1px gainsboro;
  content: "";
  height: 2.5em;
  left: 50%;
  position: absolute;
  top: -2.8em !important;
  z-index: -1;
}
/* .tree span:before : 부서 및 팀 줄 */
.tree span:before {
    outline: solid 1px gainsboro;
    content: "";
    height: 3.3em;
    left: 50%;
    position: absolute;
    top: -2.7em !important;
    z-index: -1;
}
/* 팀 이름에만 빨간색 선이 표시되도록 스타일 적용 */
.tree ul > li > ul > li > a > .level3:before {
  outline: solid 1px white !important;
  z-index: -1;
}

/* 가로 수량 조절시 2개 같이 수정 */
/* 줄 간격 넓히기 */
.tree li:nth-child(n+5) {
  margin-top: 50px;
}
/* 크기 조절 */
.tree code, .tree span {
    border: solid .1em gainsboro;
    border-radius: .3em;
    display: inline-block;
    /* 가운데 em : 가로 개수조절 */
	margin: 0 2em 2.005em;
	padding: 1em 1.5em;
	position: relative;
	width: 200px;
}

.tree li:first-child:before {
	left: 50%;
}
.tree li:last-child:before {
	right: 50%;
}
li:nth-child(4n):before{
}

.tree ul:before {
	top: -1.8em;
}
.tree code:before, .tree span:before {
	top: -.55em;
}
.tree>li {
	margin-top: 0;
}
.tree>li:before,
.tree>li:after,
.tree>li>code:before,
.tree>li>span:before {
    outline: none;
}
a:hover{
	text-decoration: none !important;
}
.level1{
	background-color: navy;
	color: white !important;
	width: 12em;
	z-index: 2;
}
.level2 {
	background-color: rgb(0, 183, 165);
	color: white !important;
	bottom: -2em;
}
.level3 {
	background-color: gainsboro;
	color: black !important;
	margin: -0.45em 0 !important;
}


/* 2. 직원 검색 관련 css */
.search_menu{
    justify-content: center;
    width: 100%;
}
.tr_search th{
    background-color: rgb(203, 237, 255) !important;
    text-align: center;
    width: 20%;
    vertical-align: middle !important;
    font-size: 30px;
}
.tr_search td{
    width: 200px;
    text-align: center;
}
.tr_search input {
    width: 100% !important;
}
.btn_center{
    text-align: center;
    padding-top: 30px !important;
}
.btn_center button {
    width: 140px;
    height: 50px;
    font-size: 20px;
}
.employee_count {
    margin-left: 10px;
}
table{
	table-layout: fixed;
}
.table_empinfo {
    text-align: center;
    table-layout: fixed !important;
}
.table_empinfo th{
    background-color: rgb(255,247,208) !important;
    font-size: 19px;
}
.table_empinfo td{
    vertical-align: middle !important;
}
.table_empinfo td img{
    border: 1px solid gainsboro;
    border-radius: 100%;
    width: 50px;
    height: 50px;
	object-fit: cover; /* 다른 사이즈 이미지도 안잘리고 동일하게 조절하기 */
   margin: -10px;
}




/* 3. 부서 관리 (추가삭제) */
.level2:hover{
		background-color: rgb(0, 183, 165);
	}
	.level3:hover {
		background-color: gainsboro;
	}
	.level2, .level3 {
		cursor: default;
	}
	.add_department{
		position: absolute;
    	z-index: 1;
    	top: 20px;
    	right: 400px;
    	white-space: nowrap;
    	outline: none;
	}
    .add_team{
    	position: absolute;
    	z-index: 1;
    	top: 50px;
    	left: 200px;
    	white-space: nowrap;
    }
    .delete_department{
		position: absolute;
    	z-index: 1;
    	top: 10px;
    	left: 40px;
    	white-space: nowrap;
    }
    .delete_team{
    	position: absolute;
    	z-index: 1;
    	top: 15px;
    	left: 200px;
    	white-space: nowrap;
    }
    input[type="text"]{
    	width: 150px;
    }
    .div_btn{
		display: flex;
		justify-content: center;
    }
    .div_btn button{
    	margin: 30px 0;
		font-size: 20px;
		width: 200px;
		height: 50px;
    }


