<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.br.project.dto.board.BoardDto" 											alias="BoardDto" />
		<typeAlias type="com.br.project.dto.common.AttachmentDto" 								alias="AttachmentDto" />
		<typeAlias type="com.br.project.dto.common.GroupDto" 											alias="GroupDto" />
		<typeAlias type="com.br.project.dto.pay.PayDto" 													alias="PayDto"/>
		<typeAlias type="com.br.project.dto.pay.ExpenditureDto" 									alias="ExpenditureDto"/>
		<typeAlias type="com.br.project.dto.organization.OrganizationDto"  				alias="OrganizationDto"/>
		<typeAlias type="com.br.project.dto.calendar.CalendarDto" 								alias="calendarDto"/>
		<typeAlias type="com.br.project.dto.member.MemberDto" 										alias="MemberDto"/>
		<typeAlias type="com.br.project.dto.pay.FixturesDto" 											alias="FixturesDto"/>
		<typeAlias type="com.br.project.dto.calendar.CoworkerDto" 								alias="CoworkerDto"/>
    <typeAlias type="com.br.project.dto.notification.NotificationDto"     		alias="NotificationDto"/>
    <typeAlias type="com.br.project.dto.notification.NotificationSendDto"     alias="NotificationSendDto"/>
    <typeAlias type="com.br.project.dto.attendance.AttendanceDto"			    		alias="AttendanceDto"/>
    <typeAlias type="com.br.project.dto.pay.MemberDeptDto"                		alias="MemberDeptDto"/>
    <typeAlias type="com.br.project.dto.pay.VacationDto"           						alias="VacationDto" />
    <typeAlias type="com.br.project.dto.pay.SignDto"           								alias="SignDto" />
    <typeAlias type="com.br.project.dto.pay.RetireDto"           							alias="RetireDto" />
    <typeAlias type="com.br.project.dto.pay.BusinessDto"           						alias="BusinessDto" />
    <typeAlias type="com.br.project.dto.pay.DraftDto"           							alias="DraftDto" />
    <typeAlias type="com.br.project.dto.reservation.ReservationDto"       		alias="ReservationDto" />
    <typeAlias type="com.br.project.dto.chat.ChatRoomDto"         						alias="ChatRoomDto" />
    <typeAlias type="com.br.project.dto.chat.ChatMessageDto"         					alias="ChatMessageDto" />
	</typeAliases>
	
	
	<mappers>
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/attachment-mapper.xml" />
		<mapper resource="mappers/department-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/pay-mapper.xml" />
		<mapper resource="mappers/calendar-mapper.xml" />
		<mapper resource="mappers/organization-mapper.xml" />
		<mapper resource="mappers/notification-mapper.xml" />
		<mapper resource="mappers/attendance-mapper.xml" />
    <mapper resource="mappers/facility/attraction-mapper.xml" />
		<mapper resource="mappers/location-mapper.xml" />
		<mapper resource="mappers/vacation-mapper.xml" />
		<mapper resource="mappers/reservation-mapper.xml" />
		<mapper resource="mappers/chat-mapper.xml" />
		<mapper resource="mappers/facility/store-mapper.xml" />
		<mapper resource="mappers/sales-mapper.xml" />
	</mappers>

</configuration>
