<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="attachmentMapper">

	<resultMap 	id="attachmentResultMap" 	type="AttachmentDto">
		<id 	column="file_no" 			property="fileNo" />
		<result column="origin_name" 		property="originName" />
		<result column="enroll_date" 		property="enrollDate" />
		<result column="modify_name" 		property="modifyName" />
		<result column="attach_path" 		property="attachPath" />
		<result column="status" 			property="status" />
		<result column="ref_type" 			property="refType" />
		<result column="ref_no" 			property="refNo" />
	</resultMap>

	<!-- 첨부파일 등록 -->
	<insert id="insertAttachment" parameterType="AttachmentDto">
		insert
			into attachment
					 (
					   file_no
					  ,origin_name
					  ,modify_name
					  ,attach_path
					  ,ref_type
					  ,ref_no
					 )
		values 
					(
					  seq_ano.nextval
					 ,#{originName}
					 ,#{modifyName}
					 ,#{attachPath}
					 ,#{refType}
					 ,#{refNo}
					)
	</insert>
	
	<!-- ======================================= "가림" 구역 start ======================================= -->
	<!-- 첨부파일 조회 -->
	<select id="selectBoardAttachmentList" resultMap="attachmentResultMap" parameterType="hashmap">
		select 
			   file_no
			  ,origin_name
			  ,modify_name
			  ,attach_path
		  from attachment
		<where>
			<if test="delFileNoArr != null">
				<foreach item="fileNo" collection="delFileArr" open="file_no in(" separator="," close=")">
					#{fileNo}
				</foreach>
			</if>
			<if test="delBoardNoArr != null">
				and ref_type = #{refType}
				<foreach item="refNo" collection="delBoardNoArr" open="and ref_no in (" separator="," close=")">
				  #{refNo}			
				</foreach>
			</if>
		</where>
	</select>

	
	<!-- 공지사항 첨부파일 등록 -->
	<insert id="insertBoardAttachment" parameterType="AttachmentDto">
		insert
			into attachment
				 (
				   file_no
				  ,origin_name
				  ,modify_name
				  ,attach_path
				  ,ref_type
				  ,status
				  ,ref_no
				 )
		  values 
				(
				  seq_ano.nextval
				 ,#{originName}
				 ,#{modifyName}
				 ,#{attachPath}
				 ,#{refType}
				 ,#{status}
				 <choose>
				 	<when test="refNo != null and !refNo.equals('')">
				 		,#{refNo}
				 	</when>
				 	<when test='refType.equals("BD")'>
				 		,seq_bdno.currval
				 	</when>
				 	<when test='refType.equals("VACT")'>
				 		,seq_vano.currval
				 	</when>
				 </choose>
				)
	</insert>
	
	<!-- 첨부파일 삭제(상태변경) -->
	<update id="deleteBoardAttachment" parameterType="string">
		update attachment
		   set status  = 'N'
		 where file_no = #{delFileNo}
	</update>
	
	<!-- 첨부파일 상태 수정 or 첨부파일 삭제 -->
	<update id="updateBoardAttachmentStatus" parameterType="hashmap">
		update attachment
		   set status   = #{status}
		 where ref_type = #{refType}
		 <if test="no != null and !no.equals('')">
		   and ref_no = #{no}		 
		 </if>
		 <if test="delBoardNoArr != null">
		 	 <foreach item="no" collection="delBoardNoArr" open="and ref_no in (" separator="," close=")">
		 	 		#{no}
		 	 </foreach>
		 </if>
	</update>
	
	<!-- ======================================= "가림" 구역 end ======================================= -->	
</mapper>
