<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calMapper">
<resultMap type="calendarDto" id="calResultMap">
	<id column="CAL_NO" property="calNO" />
	<result column="CAL_SORT" property="calSort" />
	<result column="CAL_TITLE" property="calTitle" />
	<result column="CAL_CONTENT" property="calContent" />
	<result column="START_DATE" property="startDate" />
	<result column="END_DATE" property="endDate" />
	<result column="CAL_PLACE" property="place" />
	<result column="CAL_COLOR" property="color" />
	<result column="GROUP_CODE" property="groupCode" />
	<result column="team" property="team" />
	<result column="duraDate" property="duraDate" />
	<collection ofType="GroupDto" property="group" >
		<result column="CODE_NAME" property="codeName" />
		<result column="UPPER_CODE" property="upperCode" />
	</collection>
	<collection ofType="CoworkerDto" property="coworker">
		<result column="USER_NO" property="userNo"/>
	</collection>	
</resultMap>
<!-- 개인 및 부서 일정 조회 -->
<select id="ajaxSelectPCalendar" 
resultMap="calResultMap">
select
    CAL_NO
    , CAL_SORT
    , CAL_TITLE
    , CAL_CONTENT
    , START_DATE
    , END_DATE
    , CAL_PLACE
    , CAL_COLOR
    , calender.GROUP_CODE
    , member.user_NO
    , code_name
    , upper_code
from 
	calender
join 
    tb_group on ( calender.GROUP_CODE = code ) 
left join 
     co_worker using (cal_no)
join 
    member on (calender.REGIST_EMP = member.USER_NO)
where 
		cal_sort = 'D'
and 
    tb_group.GROUP_CODE in 'CALD01'
and 
    member.team_code = #{teamCode}
and 
	calender.status = 'Y'
<![CDATA[
and 
	Months_between(START_DATE     , sysdate) <= 6
and 
	Months_between(end_DATE				, sysdate) >= -6
]]>
<if test="calNoList != null">
    <foreach item="num" collection="calNoList"
       open="and cal_no in (" separator="," close=")" >
        #{num}
    </foreach>
</if>
</select>

<select id="selectCalNO"
resultType="string">
	select 
		cal_no
	from 
		co_worker
	where 
		user_no = #{userNO}
</select>

<!-- 갤린더 일정 등록 쿼리 -->
<insert id="insertCal">
	insert 
	into 
		calender
	(
		CAL_NO
		,CAL_SORT
		,CAL_TITLE
		,CAL_CONTENT
		,START_DATE
		,END_DATE
		,CAL_COLOR
		,REGIST_EMP
		,MODIFY_EMP
		,GROUP_CODE
	) values ( 
		SEQ_CALNO.nextval
		,#{calSort}
		,#{calTitle}
		,#{calContent}
		,to_date(#{startDate} 	, 'YYYY-MM-DD HH24:MI:SS')
		,to_date(#{endDate}			, 'YYYY-MM-DD HH24:MI:SS')
		,#{color}
		,#{emp}
		,#{emp}
		,#{groupCode}
		)
</insert>
<!-- 일정 별 동행자 추가 쿼리 -->
<insert id="inserCoworker">
	insert
	into 
		co_worker
	(
		WORKER_NO
		, CAL_NO
		, USER_NO
	)values(
		SEQ_COWNO.NEXTVAL
		, SEQ_CALNO.CURRVAL
		, #{userNo}
	)
</insert>
<!-- 일정 update문 쿼리 -->
<update id="calUpdate">
	update
		calender
	set 
		CAL_TITLE 			= #{calTitle}
		, CAL_CONTENT 	= #{calContent}
		, START_DATE 		= to_date(#{startDate} 	, 'YYYY-MM-DD HH24:MI:SS')
		, END_DATE 			= to_date(#{endDate}	, 'YYYY-MM-DD HH24:MI:SS')
		, CAL_PLACE			= #{place}
		, CAL_COLOR 		= #{color}
		, GROUP_CODE 		= #{groupCode}
		, MODIFY_EMP 		= #{emp}
	where
		CAL_NO = #{calNO}
</update>
<delete id="coworkerDelete">
	delete
		co_worker
	where 
		cal_no = #{calNO}
</delete>
<insert id="reInserCoworker">
	insert
	into 
		co_worker
	(
		WORKER_NO
		, CAL_NO
		, USER_NO
	)values(
		SEQ_COWNO.NEXTVAL
		, #{calNO}
		, #{userNo}
	)
</insert>

<select id="ajaxCompanyCalendar"
resultMap="calResultMap">
	select
    CAL_NO
    , CAL_SORT
    , CAL_TITLE
    , CAL_CONTENT
    , START_DATE
    , END_DATE
    , CAL_PLACE
    , CAL_COLOR
    , (select tb_group.code_NAME from tb_group where tb_group.GROUP_CODE = 'TEAM01' and code = (select TEAM_CODE from member where user_no =  calender.MODIFY_EMP)) team
    , code_name
    , upper_code
    , calender.GROUP_CODE
from 
	calender
join 
    tb_group on ( calender.GROUP_CODE = code )
join
    member on (member.USER_NO = calender.MODIFY_EMP)
where 
	cal_sort = 'C'
and 
    tb_group.GROUP_CODE = 'CALD02'
and 
	calender.status = 'Y'
<![CDATA[
and 
	Months_between(START_DATE     , sysdate) <= 6
and 
	Months_between(end_DATE		  , sysdate) >= -6
]]>
</select>

<select id="selectListCalendar"
resultMap="calResultMap">
	select
    cal_no
    , cal_color
    , code_Name
    , cal_title
    , to_date(start_Date, 'YYYY-MM-DD')|| ' ~ ' || to_date(end_date, 'YYYY-MM-DD') duraDate 
	from 
		calender
	join 
		tb_group on (calender.GROUP_CODE = CODE and tb_group.GROUP_CODE = 'CALD02')
	where 
			cal_sort = #{calSort}
	and 
	    calender.status = 'Y'
<![CDATA[
	and 
		START_DATE >= #{dataStart}
	and 
		end_DATE <= #{dataEnd}
]]>
   ORDER by 
   		cal_no desc
</select>

<select id="selectListCount" 
resultType="_int">
	select
    	count(*)
	from 
		calender
	where 
		cal_sort = #{calSort}
	and 
	    calender.status = 'Y'
<![CDATA[
	and 
		START_DATE >= #{dataStart}
	and 
		end_DATE <= #{dataEnd}
]]>
</select>

<update id="ajaxDeletedCal">
	update 
     	calender
	set 
		status = 'N'
	<where>
		<foreach item="value" collection="array"
	       open="cal_no in  (" separator="," close=")" >
	        #{value}
	    </foreach>
	</where>
</update>

<update id="companyCalUpdate">
	update calender
set 
    cal_title = 		#{calTitle}
    , cal_content = #{calContent}
    , start_date = 	to_date(#{startDate} 	, 'YYYY-MM-DD HH24:MI:SS')
    , end_date = 		to_date(#{endDate} 		, 'YYYY-MM-DD HH24:MI:SS')
    , cal_place = 	#{place}
    , cal_color = 	#{color}
    , modify_emp = 	#{emp}
    , group_code = 	#{groupCode}
where
    cal_no = #{calNO}
</update>

</mapper>
