<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calMapper">
<resultMap type="calendarDto" id="calResultMap">
	<id column="CAL_NO" property="calNO" />
	<result column="CAL_SORT" property="calSort" />
	<result column="CAL_TITLE" property="calTitle" />
	<result column="CAL_CONTENT" property="calcontent" />
	<result column="START_DATE" property="startDate" />
	<result column="END_DATE" property="endDate" />
	<result column="CAL_PLACE" property="place" />
	<result column="CAL_COLOR" property="color" />
	<result column="STATUS" property="status" />
	<result column="GROUP_CODE" property="groupCode" />
</resultMap>

<select id="selectPCalendar" resultMap="calResultMap">
select
    CAL_NO
    , CAL_TITLE
    , CAL_CONTENT
    , START_DATE
    , END_DATE
    , CAL_PLACE
    , CAL_COLOR
from calender
where cal_sort in ('P', 'C')
and status = 'Y'
<![CDATA[
and Months_between(START_DATE, sysdate) <= 6
and Months_between(end_DATE, sysdate) >= -6
]]>
</select>

<insert id="">
	insert 
	into calender(CAL_NO,CAL_TITLE,CAL_CONTENT,START_DATE,END_DATE,CAL_COLOR,REGIST_EMP,MODIFY_EMP,GROUP_CODE
	) values ( 
		SEQ_CALNO.nextval
		,#{calTitle}
		,#{calContent}
		,to_date(#{startDate}, 'YYYY-MM-DD HH24:MI:SS')
		,to_date(#{endDate}, 'YYYY-MM-DD HH24:MI:SS')
		,#{color}
		,1
		,1
		,1)
</insert>

</mapper>
