<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="departmentMapper">

	<resultMap 			id="groupResultMap" type="GroupDto">
		<id				column="group_no" 			property="groupNo" />
		<result 	column="group_code"			property="groupCode" />
		<result 	column="code_name"			property="codeName" />
		<result 	column="regist_date"		property="registDate" />
		<result 	column="modify_date"		property="modifyDate" />
		<result 	column="status"					property="status" />
		<result 	column="regist_emp"			property="registEmp" />
		<result 	column="modify_emp"			property="modifyEmp" />
		<result 	column="upper_code"			property="upperCode" />
	</resultMap>

  <!-- 부서 목록조회 -->
	<select id="selectDepartmentList" resultMap="groupResultMap">
		select 
					 group_no		
					,group_code	
					,code_name	
			from tb_group
		 where status = 'Y'
		 order by group_code
	</select>
	
</mapper>
