<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="organizationMapper">

	<resultMap id="memberResult" type="OrganizationDto">
		<id column="user_no" property="userNo" />
		<result column="user_name" property="userName" />
		<result column="user_id" property="userId" />
		<result column="phone" property="phone" />
		<result column="bank_account" property="bankAccount" />
		<result column="bank" property="bank" />
		<result column="email" property="email" />
		<result column="post_code" property="postCode" />
		<result column="address" property="address" />
		<result column="detail_address" property="detailAddress" />
		<result column="total_address" property="totalAddress" />
		<result column="profile_url" property="profileUrl" />
		<result column="modify_date" property="modifyDate" />
		<result column="modify_user_no" property="modifyUserNo" />
		<result column="status" property="status" />
		<result column="vacation_count" property="vacationCount" />
		<result column="auth_level" property="authLevel" />
		<result column="salary" property="salary" />
		<result column="dept_code" property="deptCode" />
		<result column="team_code" property="teamCode" />
		<result column="position_code" property="positionCode" />
		<result column="regist_emp" property="registEmp" />
		<result column="dept" property="dept" />
		<result column="team" property="team" />
		<result column="posi" property="posi" />
		
		<collection property="groupList" ofType="GroupDto">
			<result column="group_code" property="groupCode"/>
			<result column="code" property="code"/>
			<result column="code_name" property="codeName"/>
			<result column="upper_code" property="upperCode"/>
		</collection>
	</resultMap>
	
	<!-- 부서와 팀 가져오기 -->
	<select id="selectOrganizationChart" resultType="GroupDto">
		SELECT D1.CODE_NAME AS "DEPT"
		     , D2.CODE_NAME AS "TEAM"
		  FROM TB_GROUP D1
		  LEFT JOIN
		       TB_GROUP D2 ON D2.UPPER_CODE = D1.CODE AND D2.GROUP_CODE LIKE 'TEAM%'
		 WHERE D1.GROUP_CODE LIKE 'DEPT%'
	 	   AND D1.STATUS = 'Y'
	       AND D2.STATUS = 'Y'
         ORDER BY 
         	   D1.CODE_NAME DESC
         	 , D2.CODE_NAME ASC
	</select>

	<!-- 직원 전체 카운트 -->
	<select id="selectOrganizationListCount" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM MEMBER
         WHERE STATUS = 'Y'
	</select>

	<!-- 직원 전체 조회(사진,성명,부서,팀명,직급,전화,이메일 -->
	<select id="selectOrganizationList" resultMap="memberResult">
		SELECT USER_NO
			 , PROFILE_URL
       		 , USER_NAME
       		 , (SELECT CODE_NAME FROM TB_GROUP WHERE GROUP_CODE LIKE 'DEPT%' AND CODE = TEAM_CODE) AS "DEPT"
       		 , (SELECT CODE_NAME FROM TB_GROUP WHERE GROUP_CODE LIKE 'TEAM%' AND CODE = TEAM_CODE) AS "TEAM"
      		 , (SELECT CODE_NAME FROM TB_GROUP WHERE GROUP_CODE LIKE 'POSI%' AND CODE = POSITION_CODE) AS "POSI"
      		 , PHONE
      		 , EMAIL
		  FROM MEMBER
		  JOIN TB_GROUP ON TEAM_CODE = CODE
		   AND GROUP_CODE LIKE 'TEAM%'
		 ORDER BY
			   USER_NO ASC
	</select>
	
	<!-- 부서 조회 : 전체 부서 조회 -->
	<select id="selectDept" resultType="GroupDto">
		SELECT CODE_NAME "codeName" 
		  FROM TB_GROUP
		 WHERE GROUP_CODE LIKE 'DEPT%'
	</select>
	
	<!-- 팀 조회 : 선택한 부서에 해당하는 팀만 조회 -->
	<select id="selectTeam" resultMap="memberResult">
		SELECT CODE_NAME
		  FROM TB_GROUP
		 WHERE GROUP_CODE LIKE 'TEAM%'
		   AND UPPER_CODE
		       = (SELECT CODE
	                FROM TB_GROUP
	               WHERE GROUP_CODE LIKE 'DEPT%'
	                 AND CODE_NAME = #{codeName})
	</select>
	
	

</mapper>