<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orgMapper">

	<!-- 직원 전체 조회(사진,성명,부서,팀명,직급,전화,이메일 -->
<!-- 	<select id="selectEmp" resultMap="empResult">
		SELECT PROFILE_URL
			 , USER_NAME
			 , 부서
			 , TEAM_CODE
			 , POSITION_CODE
			 , PHONE
			 , EMAIL
		  FROM MEMBER
		 ORDER 
		 	BY USER_NO DESC
		   AND 
	</select> -->
</mapper>