<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="payMapper">

	<resultMap id="payResult" type="PayDto">
		<id column="APPROVAL_NO" property="approvalNo"/>
		<result column="DOCUMENT_NUMBER" property="documentNo"/>
		<result column="DOCUMENT_TYPE" property="documentType"/>
		<result column="DEPARTMENT" property="department"/>
		<result column="PAYMENT_WRITER" property="payWriter"/>
		<result column="PAYMENT_WRITER_NO" property="payWriterNo"/>
		<result column="PAYMENT_STATUS" property="payStatus"/>
		<result column="DOCUMENT_STATUS" property="documentStatus"/>
		<result column="CANCELLATION_CONTENT" property="cancellContent"/>
		<result column="FIRST_APPROVAL" property="firstApproval"/>
		<result column="MIDDLE_APPROVAL" property="middleApproval"/>
		<result column="FINAL_APPROVAL" property="finalApproval"/>
		<result column="FIRST_APPROVAL_DATE" property="firstApproDt"/>
		<result column="MIDDLE_APPROVAL_DATE" property="middleApproDt"/>
		<result column="FINAL_APPROVAL_DATE" property="finalApproDt"/>
		<result column="REGIST_DATE" property="registDt"/>
		<result column="MODIFY_DATE" property="modifyDt"/>
		<result column="STATUS" property="status"/>
		<result column="FIRST_CHECK" property="firstCheck"/>
		<result column="MIDDLE_CHECK" property="middleCheck"/>
		<result column="FINAL_CHECK" property="finalCheck"/>
		<result column="SALES_STATUS" property="salesStatus"/>
		<result column="DRAFT_STATUS" property="draftStatus"/>
		<result column="BUSINESSTRIP_STATUS" property="businessStatus"/>
		<result column="more_date" property="moreDate"/>
		
		<collection resultMap="ExpenditureResult" property="expenditureList" /> 
		<collection resultMap="FixturesResult" property="fixturesList" /> 
	</resultMap>
	
	<!-- 매출보고서 -->
	<resultMap id="ExpenditureResult" type="ExpenditureDto">
		<result column="SALES_NO" property="salesNo" />
		<result column="SALES_DIVISION" property="salesDivision" />
		<result column="MANAGER" property="manager" />
		<result column="TOTAL_SALES" property="totalSales" />
		<result column="ITEM" property="item" />
		<result column="QUANTITY" property="quantity" />
		<result column="SALES_AMOUNT" property="salesAmount" />
	</resultMap>
	
	<!-- 비품신청서 -->
	<resultMap id="FixturesResult" type="FixturesDto">
		<result column="FIXTURES_NO" property="fixturesNo" />
		<result column="BELONG" property="belong" />
		<result column="TITLE" property="title" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="STANDARD" property="standard" />
		<result column="QUANTITY" property="quantity" />
		<result column="UNIT_PRICE" property="unitPrice" />
		<result column="PRICE" property="price" />
		<result column="NOTE" property="note" />
		<result column="SUM" property="sum" />
		<result column="ETC" property="etc" />
	</resultMap>
	

	<resultMap id="MemberDeptResult" type="MemberDeptDto" >
		<id column="USER_NO" property="userNo"/>
		<result column="USER_NAME" property="userName"/>
		<result column="TEAM_CODE" property="teamCode"/>
		<result column="POSITION_CODE" property="positionCode"/>
		<result column="TEAM_NAME" property="teamName"/>
		<result column="POSITION_NAME" property="positionName"/>
		<result column="DEPT_NAME" property="deptName"/>
	</resultMap>
	

	<!-- 메인페이지 목록갯수조회용 -->
	<select id="selectListCount" resultType="_int">
		select count(*) count
			from approval A
			WHERE STATUS = 'Y'
			AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
	</select>
	
	
	<!-- 진행중, 승인완료, 반려 처리된 목록리스트 조회 -->
	<select id="paymainPage" resultMap="payResult">
		select 
		      APPROVAL_NO
		    , case when document_type = 'C' then '출장보고서'
		           when document_type = 'H' then '휴직신청서'
		           when document_type = 'T' then '퇴직신청서'
		           when document_type = 'B' then '비품신청서'
		           when document_type = 'J' then '지출결의서'
		           when document_type = 'G' then '기안서'
		           when document_type = 'M' then '매출보고서'
		      else '휴가신청서'
		   end document_type
		   , DOCUMENT_NUMBER
		   , DEPARTMENT
		   , PAYMENT_WRITER
		   , PAYMENT_WRITER_NO
		   , (CASE WHEN DOCUMENT_STATUS = 'Y' THEN '승인완료'
		           WHEN DOCUMENT_STATUS = 'I' THEN '진행중'
		           WHEN DOCUMENT_STATUS = 'N' THEN '반려'
		           END) DOCUMENT_STATUS
		   ,(SELECT count(*)
		        FROM SALES_REPORT S
		      WHERE A.DOCUMENT_NUMBER = S.SALES_NO
		        AND A.document_type = 'G'
		        AND S.STATUS = 'Y'
		    )SALES_STATUS
		    , (SELECT count(*)
		        FROM DRAFT_REPORT D
		        WHERE A.DOCUMENT_NUMBER = D.DRAFT_NO
		         AND A.document_type = 'J'
		         AND D.STATUS = 'Y'
		     ) DRAFT_STATUS
		    , (SELECT count(*)
		        FROM BUSINESSTRIP_REPORT B
		        WHERE A.DOCUMENT_NUMBER = B.BUSINESS_NO
		        AND A.document_type = 'C'
		        AND B.STATUS = 'Y'
		     ) BUSINESSTRIP_STATUS
		     , to_char(regist_date, 'YYYY-MM-DD') regist_date
		     , to_char(FINAL_APPROVAL_DATE, 'YYYY-MM-DD') FINAL_APPROVAL_DATE
		     , PAYMENT_STATUS
		from approval A
    join member m on( USER_NO =  PAYMENT_WRITER_NO)
		WHERE A.STATUS = 'Y'
		AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
		order
			 by APPROVAL_NO desc
	</select>
	
	<!-- 일주일이상 승인완료가 안된 목록 갯수 -->
	<select id="moreDateCount" resultType="_int">
      SELECT COUNT(*) count
			  FROM APPROVAL A
			 WHERE REGIST_DATE + 7  <![CDATA[ <= ]]>  SYSDATE
			   AND DOCUMENT_STATUS = 'I'
			   AND STATUS = 'Y'
			    and (
		            (FIRST_APPROVAL = #{userName} and FIRST_APPROVAL_DATE is null)
		         or (MIDDLE_APPROVAL = #{userName} and MIDDLE_APPROVAL_DATE is null)
		         or (FINAL_APPROVAL = #{userName} and FINAL_APPROVAL_DATE is null)
          		)
	</select>
	
	<!-- 로그인한 사용자의 결재내역(Y,N,I)의 목록 갯수 -->
	<select id="successListCount" resultType="_int">
		select count(*) count
			from approval A
			WHERE STATUS = 'Y'
		    AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
			   and (
		            (FIRST_APPROVAL = #{userName} and FIRST_APPROVAL_DATE is not null)
		         or (MIDDLE_APPROVAL = #{userName} and MIDDLE_APPROVAL_DATE is not null)
		         or (FINAL_APPROVAL = #{userName} and FINAL_APPROVAL_DATE is not null)
          		)
	</select>
	
	 <!-- 위 커리문에 추가해야될것 
	 	, (SELECT COUNT(*)
          FROM APPROVAL
          WHERE A.PAYMENT_NO = PAYMENT_NO
           AND FIRST_APPROVAL = '로그인한관리자이름'
           AND FIRST_APPROVAL_DATE = NULL
        ) FIRST_CHECK
      , (SELECT COUNT(*)
          FROM APPROVAL
          WHERE A.PAYMENT_NO = PAYMENT_NO
           AND MIDDLE_APPROVAL = '로그인한관리자이름'
           AND MIDDLE_APPROVAL_DATE = NULL
        ) MIDDLE_CHECK
      , (SELECT COUNT(*)
          FROM APPROVAL
          WHERE A.PAYMENT_NO = PAYMENT_NO
           AND FINAL_APPROVAL = '로그인한관리자이름'
           AND FINAL_APPROVAL_DATE = NULL
        ) FINAL_CHECK
	 -->
	 
	 <!-- 카테고리 검색 갯수 조회용쿼리 -->
	 <select id="searchListCount" resultType="_int">
		 select count(*)
				from approval
				WHERE STATUS = 'Y'
				AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
				AND ${condition} LIKE '%' || #{keyword} || '%'
	 </select>
	 
	 <!-- 카테고리 검색 리스트 조회용쿼리 -->
	  <select id="searchList" resultMap="payResult">
		select 
		      APPROVAL_NO
		    , case when document_type = 'C' then '출장보고서'
		           when document_type = 'H' then '휴직신청서'
		           when document_type = 'T' then '퇴직신청서'
		           when document_type = 'B' then '비품신청서'
		           when document_type = 'J' then '지출결의서'
		           when document_type = 'G' then '기안서'
		           when document_type = 'M' then '매출보고서'
		      else '휴가신청서'
		   end document_type
		   , DOCUMENT_NUMBER
		   , DEPARTMENT
		   , PAYMENT_WRITER
		   , PAYMENT_WRITER_NO
		   , (CASE WHEN DOCUMENT_STATUS = 'Y' THEN '승인완료'
		           WHEN DOCUMENT_STATUS = 'I' THEN '진행중'
		           WHEN DOCUMENT_STATUS = 'N' THEN '반려'
		           END) DOCUMENT_STATUS
		   ,(SELECT count(*)
		        FROM SALES_REPORT S
		      WHERE A.DOCUMENT_NUMBER = S.SALES_NO
		        AND A.document_type = 'G'
		        AND S.STATUS = 'Y'
		    )SALES_STATUS
		    , (SELECT count(*)
		        FROM DRAFT_REPORT D
		        WHERE A.DOCUMENT_NUMBER = D.DRAFT_NO
		         AND A.document_type = 'J'
		         AND D.STATUS = 'Y'
		     ) DRAFT_STATUS
		    , (SELECT count(*)
		        FROM BUSINESSTRIP_REPORT B
		        WHERE A.DOCUMENT_NUMBER = B.BUSINESS_NO
		        AND A.document_type = 'C'
		        AND B.STATUS = 'Y'
		     ) BUSINESSTRIP_STATUS
		     , to_char(regist_date, 'YYYY-MM-DD') regist_date
		     , to_char(FINAL_APPROVAL_DATE, 'YYYY-MM-DD') FINAL_APPROVAL_DATE
		     , PAYMENT_STATUS
		from approval A
		WHERE A.STATUS = 'Y'
		AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
		AND ${condition} LIKE '%' || #{keyword} || '%'
		order
			 by APPROVAL_NO desc
		</select>
		
		<!-- 메인 카테고리(문서) 갯수 조회용 -->
		<select id="slistCount" resultType="_int">
			select count(*) count
			  from approval
			  WHERE STATUS = 'Y'
			  AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
			  <choose>
					<when test="conditions == '전체'">
					and DOCUMENT_TYPE IN ('T','C','B','M','J','G','H','V')
					</when>
					<otherwise>
						and DOCUMENT_TYPE = #{conditions}
					</otherwise>
				</choose>
			
				<choose>
					<when test="status == '전체'">
						and PAYMENT_STATUS IN ('보통','긴급')
					</when>
					<otherwise>
						and PAYMENT_STATUS = #{status}
					</otherwise>
				</choose>
		</select>
		
		<!-- 메인 카테고리(문서) 리스트 조회용 -->
		<select id="categoryList" resultMap="payResult">
			select 
		      APPROVAL_NO
		    , case when document_type = 'C' then '출장보고서'
		           when document_type = 'H' then '휴직신청서'
		           when document_type = 'T' then '퇴직신청서'
		           when document_type = 'B' then '비품신청서'
		           when document_type = 'J' then '지출결의서'
		           when document_type = 'G' then '기안서'
		           when document_type = 'M' then '매출보고서'
		      else '휴가신청서'
		   end document_type
		   , DOCUMENT_NUMBER
		   , DEPARTMENT
		   , PAYMENT_WRITER
		   , PAYMENT_WRITER_NO
		   , (CASE WHEN DOCUMENT_STATUS = 'Y' THEN '승인완료'
		           WHEN DOCUMENT_STATUS = 'I' THEN '진행중'
		           WHEN DOCUMENT_STATUS = 'N' THEN '반려'
		           END) DOCUMENT_STATUS
		   ,(SELECT count(*)
		        FROM SALES_REPORT S
		      WHERE A.DOCUMENT_NUMBER = S.SALES_NO
		        AND A.document_type = 'G'
		        AND S.STATUS = 'Y'
		    )SALES_STATUS
		    , (SELECT count(*)
		        FROM DRAFT_REPORT D
		        WHERE A.DOCUMENT_NUMBER = D.DRAFT_NO
		         AND A.document_type = 'J'
		         AND D.STATUS = 'Y'
		     ) DRAFT_STATUS
		    , (SELECT count(*)
		        FROM BUSINESSTRIP_REPORT B
		        WHERE A.DOCUMENT_NUMBER = B.BUSINESS_NO
		        AND A.document_type = 'C'
		        AND B.STATUS = 'Y'
		     ) BUSINESSTRIP_STATUS
		     , to_char(regist_date, 'YYYY-MM-DD') regist_date
		     , to_char(FINAL_APPROVAL_DATE, 'YYYY-MM-DD') FINAL_APPROVAL_DATE
		     , PAYMENT_STATUS
		from approval A
    join member m on( USER_NO =  PAYMENT_WRITER_NO)
		WHERE A.STATUS = 'Y'
			AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
			<choose>
				<when test="conditions == '전체'">
					and DOCUMENT_TYPE IN ('T','C','B','M','J','G','H','V')
				</when>
				<otherwise>
						and DOCUMENT_TYPE = #{conditions}
				</otherwise>
			</choose>
			
				<choose>
					<when test="status == '전체'">
						and PAYMENT_STATUS IN ('보통','긴급')
					</when>
					<otherwise>
						and PAYMENT_STATUS = #{status}
					</otherwise>
				</choose>
			order
			     by APPROVAL_NO desc
		</select>
		
		<!-- 매출보고서 상세페이지 -->
   <select id="expendDetail" resultType="map">
		   select
		   				APPROVAL_NO 		    
			      , EXPEND_NO
			      , DEPARTMENT
			      , to_char(A.REGIST_DATE, 'YYYY"년 "MM"월 "DD"일"') REGIST_DATE
			      , PAYMENT_WRITER
			      , PAYMENT_WRITER_NO
			      , PAYMENT_STATUS
			      , FIRST_APPROVAL
			      , MIDDLE_APPROVAL
			      , FINAL_APPROVAL
			      , DOCUMENT_STATUS
			      , CANCELLATION_CONTENT
			      , to_char(FIRST_APPROVAL_DATE, 'YYYY"년"MM"월"DD"일"') FIRST_APPROVAL_DATE
			      , to_char(MIDDLE_APPROVAL_DATE, 'YYYY"년"MM"월"DD"일"') MIDDLE_APPROVAL_DATE
			      , to_char(FINAL_APPROVAL_DATE, 'YYYY"년"MM"월"DD"일"') FINAL_APPROVAL_DATE
			      , SALES_DIVISION
			      , MANAGER_NAME
			      , to_char(TOTAL_SALES, '999,999,999,999') TOTAL_SALES
			      , ITEM
			      , VOLUMES
			      , SALES_AMOUNT 
				from approval a
	      left join expenditure_report e on (document_number = expend_no)
			  left join item i on (expend_no = report_no)
				where report_no = #{documentNo}
				  and expend_no = #{documentNo}
				  and approval_no = #{approvalNo}
				  and PAYMENT_WRITER_NO = #{payWriterNo}
				  and PAYMENT_WRITER = #{payWriter}
				  and report_type = 'M'
   </select>
   
   <!-- 로그인한(관리자) 사용자의 전체 결재 리스트 갯수 -->
   <select id="allUserCount" resultType="_int">
   		select 
		     	count(*)
				from approval A
				WHERE STATUS = 'Y'
				AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
		        and FIRST_APPROVAL = #{userName}
		        or MIDDLE_APPROVAL = #{userName}
		        or FINAL_APPROVAL = #{userName}
   </select>
   
   
   
   
   <!-- 로그인한(관리자) 사용자의 전체 결재 리스트 -->
   <select id="allUserList" resultMap="payResult">
   		select 
			      APPROVAL_NO
			    , case when document_type = 'C' then '출장보고서'
			           when document_type = 'H' then '휴직신청서'
			           when document_type = 'T' then '퇴직신청서'
			           when document_type = 'B' then '비품신청서'
			           when document_type = 'J' then '지출결의서'
			           when document_type = 'G' then '기안서'
			           when document_type = 'M' then '매출보고서'
			      else '휴가신청서'
				   end document_type
				   , DOCUMENT_NUMBER
				   , DEPARTMENT
				   , PAYMENT_WRITER
				   , PAYMENT_WRITER_NO
				   , (CASE WHEN DOCUMENT_STATUS = 'Y' THEN '승인완료'
				           WHEN DOCUMENT_STATUS = 'I' THEN '진행중'
				           WHEN DOCUMENT_STATUS = 'N' THEN '반려'
				           END) DOCUMENT_STATUS
				   ,(SELECT count(*)
				        FROM SALES_REPORT S
				      WHERE A.DOCUMENT_NUMBER = S.SALES_NO
				        AND A.document_type = 'G'
				        AND S.STATUS = 'Y'
				    )SALES_STATUS
				    , (SELECT count(*)
				        FROM DRAFT_REPORT D
				        WHERE A.DOCUMENT_NUMBER = D.DRAFT_NO
				         AND A.document_type = 'J'
				         AND D.STATUS = 'Y'
				     ) DRAFT_STATUS
				    , (SELECT count(*)
				        FROM BUSINESSTRIP_REPORT B
				        WHERE A.DOCUMENT_NUMBER = B.BUSINESS_NO
				        AND A.document_type = 'C'
				        AND B.STATUS = 'Y'
				     ) BUSINESSTRIP_STATUS
				     , to_char(regist_date, 'YYYY-MM-DD') regist_date
				     , to_char(FINAL_APPROVAL_DATE, 'YYYY-MM-DD') FINAL_APPROVAL_DATE
				     , PAYMENT_STATUS
		from approval A
    join member m on( USER_NO =  PAYMENT_WRITER_NO)
		WHERE A.STATUS = 'Y'
				AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
	      and( 
	      		FIRST_APPROVAL = #{userName}
	       or MIDDLE_APPROVAL = #{userName}
	       or FINAL_APPROVAL = #{userName}
	      	 )
				order
					 by APPROVAL_NO desc
				 
   </select>
   
   
    <select id="userSelectListCount" resultType="_int">
	   		select 
			     		count(*)
					from approval A
					WHERE STATUS = 'Y'
					AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
			        and FIRST_APPROVAL = #{userName}
			        or MIDDLE_APPROVAL = #{userName}
			        or FINAL_APPROVAL = #{userName}
		      <choose>
						<when test="conditions == '전체'">
						and DOCUMENT_TYPE IN ('T','C','B','M','J','G','H','V')
						</when>
						<otherwise>
							and DOCUMENT_TYPE = #{conditions}
						</otherwise>			
		     	</choose>
					<choose>
						<when test="status == '전체'">
							and PAYMENT_STATUS IN ('보통','긴급')
						</when>
						<otherwise>
							and PAYMENT_STATUS = #{status}
						</otherwise>
					</choose>  
   </select>
   
   
   <!-- 전체수신결재함 conditions, status값이있을때 -->
   <select id="userSelectList" resultMap="payResult">
   		select 
			      APPROVAL_NO
			    , case when document_type = 'C' then '출장보고서'
			           when document_type = 'H' then '휴직신청서'
			           when document_type = 'T' then '퇴직신청서'
			           when document_type = 'B' then '비품신청서'
			           when document_type = 'J' then '지출결의서'
			           when document_type = 'G' then '기안서'
			           when document_type = 'M' then '매출보고서'
			      else '휴가신청서'
				   end document_type
				   , DOCUMENT_NUMBER
				   , DEPARTMENT
				   , PAYMENT_WRITER
				   , PAYMENT_WRITER_NO
				   , (CASE WHEN DOCUMENT_STATUS = 'Y' THEN '승인완료'
				           WHEN DOCUMENT_STATUS = 'I' THEN '진행중'
				           WHEN DOCUMENT_STATUS = 'N' THEN '반려'
				           END) DOCUMENT_STATUS
				   ,(SELECT count(*)
				        FROM SALES_REPORT S
				      WHERE A.DOCUMENT_NUMBER = S.SALES_NO
				        AND A.document_type = 'G'
				        AND S.STATUS = 'Y'
				    )SALES_STATUS
				    , (SELECT count(*)
				        FROM DRAFT_REPORT D
				        WHERE A.DOCUMENT_NUMBER = D.DRAFT_NO
				         AND A.document_type = 'J'
				         AND D.STATUS = 'Y'
				     ) DRAFT_STATUS
				    , (SELECT count(*)
				        FROM BUSINESSTRIP_REPORT B
				        WHERE A.DOCUMENT_NUMBER = B.BUSINESS_NO
				        AND A.document_type = 'C'
				        AND B.STATUS = 'Y'
				     ) BUSINESSTRIP_STATUS
				     , to_char(regist_date, 'YYYY-MM-DD') regist_date
				     , to_char(FINAL_APPROVAL_DATE, 'YYYY-MM-DD') FINAL_APPROVAL_DATE
				     , PAYMENT_STATUS
				from approval A
		    join member m on( USER_NO =  PAYMENT_WRITER_NO)
				WHERE A.STATUS = 'Y'
				AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
	      and( 
	      		FIRST_APPROVAL = #{userName}
	       or MIDDLE_APPROVAL = #{userName}
	       or FINAL_APPROVAL = #{userName}
	      	 )
	     <choose>
					<when test="conditions == '전체'">
					  and DOCUMENT_TYPE IN ('T','C','B','M','J','G','H','V')
					</when>
					<otherwise>
						and DOCUMENT_TYPE = #{conditions}
					</otherwise>			
	     </choose>
	     
				<choose>
					<when test="status == '전체'">
						and PAYMENT_STATUS IN ('보통','긴급')
					</when>
					<otherwise>
						and PAYMENT_STATUS = #{status}
					</otherwise>
				</choose>
				order
					 by APPROVAL_NO desc
   </select>
   
   <!--  -->
   <select id="bdetail" resultMap="FixturesResult">
	   	select 
	          FIXTURES_NO
	        , BELONG
	        , TITLE
	        , PRODUCT_NAME
	        , STANDARD
	        , QUANTITY
	        , to_char(UNIT_PRICE, '999,999,999') UNIT_PRICE
	        , to_char(PRICE, '999,999,999') PRICE
	        , NOTE
	        , to_char(SUM, '999,999,999') SUM
	        , ETC
	        , to_char(A.REGIST_DATE, 'YYYY-MM-DD') REGIST_DATE
	        , FIRST_APPROVAL
	        , MIDDLE_APPROVAL
	        , FINAL_APPROVAL
	        , to_char(FIRST_APPROVAL_DATE, 'YYYY-MM-DD') FIRST_APPROVAL_DATE
	        , to_char(MIDDLE_APPROVAL_DATE, 'YYYY-MM-DD') MIDDLE_APPROVAL_DATE
	        , to_char(FINAL_APPROVAL_DATE, 'YYYY-MM-DD') FINAL_APPROVAL_DATE
	        , DEPARTMENT
	        , PAYMENT_STATUS
	        , PAYMENT_WRITER
	    from FIXTURES_REPORT F
	    join approval A on(F.FIXTURES_NO = A.DOCUMENT_NUMBER) 
	   where DOCUMENT_TYPE = 'M'
	     and APPROVAL_NO = #{approvalNo}
			 and DOCUMENT_NUMBER = #{documentNo}
			 and A.PAYMENT_WRITER = #{payWriter}
   </select>
   
   <!-- 각부서의 속한 팀명, 부장, 과장, 차장 이름 리스트 -->
   <select id="selectDepartment" resultMap="MemberDeptResult">
   		select 
		       	 USER_NO
		       , USER_NAME
		       , TEAM_CODE
		       , POSITION_CODE
		       , (SELECT CODE_NAME 
		           FROM TB_GROUP G
		           WHERE CODE = TEAM_CODE
		            AND GROUP_CODE = 'TEAM01' 
		         ) AS "TEAM_NAME"
		       , (SELECT CODE_NAME FROM TB_GROUP WHERE GROUP_CODE = 'POSI01' AND CODE = M.POSITION_CODE) AS "POSITION_NAME"
		       , (SELECT CODE_NAME FROM TB_GROUP WHERE GROUP_CODE = 'DEPT01' AND CODE = G.UPPER_CODE) AS "DEPT_NAME"
				FROM
				    MEMBER M
				JOIN TB_GROUP G ON M.TEAM_CODE = G.CODE AND G.GROUP_CODE = 'TEAM01'
				WHERE  G.UPPER_CODE IN ('A', 'B', 'C', 'D', 'E', 'F')
				<choose>
					<when test="userName == null">
						AND  POSITION_CODE IN ('C', 'D', 'E')
					</when>
					<when test="userName != null">
						 AND USER_NAME = #{userName}
				  	 AND USER_NO = #{userNo}
					</when>
				</choose>
   </select>

   <insert id="insertMreport">
   	INSERT 
		  INTO 
		    EXPENDITURE_REPORT
		    (
		      EXPEND_NO
		    , SALES_DIVISION
		    , MANAGER_NAME
		    , TOTAL_SALES
		    )
		    VALUES
		    (
		      SEQ_EXNO.NEXTVAL
		    , #{sales}
		    , #{manager}
		    , #{totalSales}
		    )
   </insert>

   <insert id="insertItems">
   	INSERT 
	    INTO 
	    		ITEM
			    (
			      REPORT_NO
			    , REPORT_TYPE 
			    , ITEM
			    , VOLUMES
			    , SALES_AMOUNT  
			    )
			    VALUES
			    (
			      SEQ_EXNO.CURRVAL
			    , 'M'
			    , #{items}
			    , #{counts}
			    , #{salesAmounts}
			    )
   </insert>
   
      
   <insert id="insertApproval">
	   INSERT
		    INTO APPROVAL
		    (
		      APPROVAL_NO
		    , DOCUMENT_NUMBER
		    , DOCUMENT_TYPE
		    , DEPARTMENT
		    , PAYMENT_WRITER
		    , PAYMENT_WRITER_NO
		    , PAYMENT_STATUS
		    , FIRST_APPROVAL
		    , MIDDLE_APPROVAL
		    , FINAL_APPROVAL
		    , REGIST_DATE
		    )
		    VALUES
		    (
		      SEQ_APNO.NEXTVAL
		    , SEQ_EXNO.CURRVAL
		    , 'M'
		    , #{deptName}
		    , #{writerName}
		    , #{writerNo}
		    , #{status}
		    <if test='firstApproval != null'>
		    ,#{firstApproval}		    
		    </if>
		    <if test='middleApproval != null'>
		    ,#{middleApproval}
		    </if>
		    <if test='finalApproval != null'>
		    ,#{finalApproval}
		    </if>
		    ,#{writerDate}
		    )
   </insert>
   <!-- 반려 사유 update -->
   <insert id="updateReject">
	   	update approval
			   set document_status = 'N'
			     , CANCELLATION_CONTENT = #{content}
			where approval_no = #{no}
   </insert>
   
   <select id="userSearchCount" resultType="_int">
	   	select 
		     		count(*)
				from approval A
				WHERE STATUS = 'Y'
				AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
         and FIRST_APPROVAL = #{userName}
	       or MIDDLE_APPROVAL = #{userName}
	       or FINAL_APPROVAL = #{userName}
		    AND ${condition} LIKE '%' || #{keyword} || '%'
   </select>
   
   <select id="userSearchList" resultMap="payResult">
   		select 
			      APPROVAL_NO
			    , case when document_type = 'C' then '출장보고서'
			           when document_type = 'H' then '휴직신청서'
			           when document_type = 'T' then '퇴직신청서'
			           when document_type = 'B' then '비품신청서'
			           when document_type = 'J' then '지출결의서'
			           when document_type = 'G' then '기안서'
			           when document_type = 'M' then '매출보고서'
			      else '휴가신청서'
				   end document_type
				   , DOCUMENT_NUMBER
				   , DEPARTMENT
				   , PAYMENT_WRITER
				   , PAYMENT_WRITER_NO
				   , (CASE WHEN DOCUMENT_STATUS = 'Y' THEN '승인완료'
				           WHEN DOCUMENT_STATUS = 'I' THEN '진행중'
				           WHEN DOCUMENT_STATUS = 'N' THEN '반려'
				           END) DOCUMENT_STATUS
				   ,(SELECT count(*)
				        FROM SALES_REPORT S
				      WHERE A.DOCUMENT_NUMBER = S.SALES_NO
				        AND A.document_type = 'G'
				        AND S.STATUS = 'Y'
				    )SALES_STATUS
				    , (SELECT count(*)
				        FROM DRAFT_REPORT D
				        WHERE A.DOCUMENT_NUMBER = D.DRAFT_NO
				         AND A.document_type = 'J'
				         AND D.STATUS = 'Y'
				     ) DRAFT_STATUS
				    , (SELECT count(*)
				        FROM BUSINESSTRIP_REPORT B
				        WHERE A.DOCUMENT_NUMBER = B.BUSINESS_NO
				        AND A.document_type = 'C'
				        AND B.STATUS = 'Y'
				     ) BUSINESSTRIP_STATUS
				     , to_char(regist_date, 'YYYY-MM-DD') regist_date
				     , to_char(FINAL_APPROVAL_DATE, 'YYYY-MM-DD') FINAL_APPROVAL_DATE
				     , PAYMENT_STATUS
				from approval A
				WHERE A.STATUS = 'Y'
				AND DOCUMENT_STATUS IN ('Y', 'N', 'I')
	      and FIRST_APPROVAL = #{userName}
	       or MIDDLE_APPROVAL = #{userName}
	       or FINAL_APPROVAL = #{userName}
	      AND ${condition} LIKE '%' || #{keyword} || '%'
				order
					 by APPROVAL_NO desc
   </select>
				 	
		<update id="updateMreport">
			update EXPENDITURE_REPORT
			 	 set SALES_DIVISION = #{sales}
			 	   , MANAGER_NAME = #{manager}
			 	   , TOTAL_SALES = #{totalSales}
			 where EXPEND_NO= #{expendNo}
		</update>
		
		<delete id="deleteReport">
			 delete ITEM
			  where REPORT_NO = #{expendNo} 
		</delete>
		
	 <insert id="updateInsertItems">
	   	INSERT 
		    INTO 
		    		ITEM
				    (
				      REPORT_NO
				    , REPORT_TYPE 
				    , ITEM
				    , VOLUMES
				    , SALES_AMOUNT  
				    )
				    VALUES
				    (
				      #{expendNo}
				    , 'M'
				    , #{item}
				    , #{count}
				    , #{salesAmount}
				    )
	   </insert>
	   
	   <update id="updateApproval">
	   		update APPROVAL
	   		   set PAYMENT_STATUS = #{sales}
	   		     , FIRST_APPROVAL = #{firstApproval}
	   		     , MIDDLE_APPROVAL = #{middleApproval} 
	   		     , FINAL_APPROVAL = #{finalApproval}
	   		     , MODIFY_DATE = #{writerDate}
	   		 where APPROVAL_NO = #{approvalNo}
	   </update>
		
	  
   
   
   
</mapper>
