<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paymentMapper">

	<select id="userInformation" resultType="map">
		SELECT
					USER_ID
				, USER_NO
				,	USER_NAME
			 	, EMAIL
			 	, PHONE
		  FROM MEMBER
		 WHERE USER_NO = #{userNo}
 	</select>
 	
 	<!-- 
 		예찬
 		토스 결제시 Ticket_order에 들어갈 query
 	 -->
 	<insert id="ajaxTossSimplePay">
 	insert into 
	ticket_order( ORDER_NO, PAYMENT_DATE, ORDER_PAYMENT, ORDER_STATUS, CUSTOMER_ID, PAYMENT_METHOD
	)values(
	    seq_tono.nextval
	    , SYSDATE
	    , #{paid_amount}
	    , #{status}
	    , #{buyer_no}
	    , #{pay_method}
	)
 	</insert>
 	<!-- 
 		예찬
 		토스 결제 상세 내역 insert문
 	 -->
 	 <insert id="ajaxTossSimplePayDetail">
 	 insert into 
		ticket_order_detail( ORDER_DETAIL_NO ,ORDER_NO, TICKET_TYPE, TICKET_PRICE, TICKET_SERIAL_NO, TICKET_CTN, START_DATE, END_DATE, DISCOUNT
		)values(
		    SEQ_ODNO.nextval
		    , seq_tono.currval
		    , #{name}
		    , #{onePrice}
		    , #{merchant_uid}
		    , #{buyer_count}
		    , SYSDATE
		    , SYSDATE
		    , #{discount}
		)
 	 </insert>
 	 <!-- 
 	 	예찬
 	 	결제 정보 확인 하는 매서드
 	  -->
 	  <select id="selectValiation" 
 	  resultType="map">
 	  
 	  </select>
 	  
 	  
 	  
 	  
 	  
 	  
 	  
 	  <!-- 이문희 -->
 	  <!--  일반이용권 결재 insert -->
 	  <insert id="insertAjaxkakaoPayCommon">
 	  	insert
 	  				into 
 	  				TICKET_ORDER
 	  				(
 	  				ORDER_NO
 	  			, ORDER_DATE
 	  			, PAYMENT_DATE
 	  			, ORDER_PAYMENT
 	  			, ORDER_STATUS
 	  			, CUSTOMER_ID
 	  			, PAYMENT_METHOD
 	  				)
 	  				values
 	  				(
 	  				SEQ_TONO.nextval
 	  			, SYSDATE
 	  			, SYSDATE
 	  			, #{orderPayment}
 	  			, '2'
 	  			, #{customerId}
 	  			, 'CD'
 	  				)
 	  				
 	  </insert>
 	  
 	  <insert id="insertKakaoPayDetailCommon">
 	  	insert
 	  				into 
 	  				TICKET_ORDER_DETAIL
 	  				(
 	  				ORDER_DETAIL_NO
 	  			,	ORDER_NO
 	  			, TICKET_TYPE
 	  			, TICKET_PRICE
 	  			, TICKET_SERIAL_NO
 	  			, TICKET_CTN
 	  			, START_DATE
 	  			, END_DATE
 	  			, DISCOUNT
 	  				)
 	  				values
 	  				(
 	  				SEQ_ODNO.nextval
 	  			,	SEQ_TONO.currval
 	  			,	#{ticketType}
 	  		  , #{ticketPrice}
 	  			, #{tickSerialNo}
 	  			, #{ticketCtn}
 	  			, #{startDate}
 	  			, #{endDate}
 	  			, #{discount}
 	  				)
 	  				
 	  </insert>
 	  <!--  정기이용권 결재 insert -->
 	  <insert id="insertAjaxkakaoPayRoutine">
 	  	insert
 	  				into 
 	  				TICKET_ORDER
 	  				(
 	  				ORDER_NO
 	  			, ORDER_DATE
 	  			, PAYMENT_DATE
 	  			, ORDER_PAYMENT
 	  			, ORDER_STATUS
 	  			, CUSTOMER_ID
 	  			, PAYMENT_METHOD
 	  				)
 	  				values
 	  				(
 	  				SEQ_TONO.nextval
 	  			, SYSDATE
 	  			, SYSDATE
 	  			, #{orderPayment}
 	  			, '2'
 	  			, #{customerId}
 	  			, 'CD'
 	  				)
 	  </insert>
 	  
 	  <insert id="insertKakaoPayDetailrRoutine">
 	  	 	insert 
 	  				into 
 	  				TICKET_ORDER_DETAIL
 	  				(
 	  				ORDER_DETAIL_NO
 	  			,	ORDER_NO
 	  			, TICKET_TYPE
 	  			, TICKET_PRICE
 	  			, TICKET_SERIAL_NO
 	  			, TICKET_CTN
 	  			, START_DATE
 	  			, END_DATE
 	  			, DISCOUNT
 	  				)
 	  				values
 	  				(
 	  				SEQ_ODNO.nextval
 	  			,	SEQ_TONO.currval
 	  			,	#{ticketType}
 	  		  , #{ticketPrice}
 	  			, #{tickSerialNo}
 	  			, #{ticketCtn}
 	  			, #{startDate}
 	  			, TO_DATE(#{endDate}, 'YY/MM/DD') + 30
 	  			, #{discount}
 	  				)
 	  </insert>
 	  <!-- 이문희 -->
		
</mapper>
