<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="vacationMapper">
<resultMap type="VacationDto" 					id="vacaResultMap">
	<id 			column="VACATION_NO" 					property="vacaNO"/>
	<result 	column="VACATION_STRAT" 			property="vacaStart"/>
	<result 	column="VACATION_END" 				property="vacaEnd"/>
	<result 	column="VACATION_COMMNET" 		property="vacaComment"/>
	<result 	column="VACATION_APPORVAL" 		property="vacaApporvalDate"/>
	<result 	column="VACATION_COLOR" 			property="vacaColor"/>
	<result 	column="RETRACT_COMMNET" 			property="RetractComent"/>
	<result 	column="R_REQUEST_COMMENT" 		property="RRequestComent"/>
	<result 	column="APPORVAL_STATUS" 			property="approrvalStatus"/>
	<result 	column="GROUP_CODE" 					property="vacaGroupCode"/>
	<collection ofType="GroupDto" 					property="group" >
		<result column="CODE_NAME" 						property="codeName" />
		<result column="UPPER_CODE" 					property="upperCode" />
	</collection>
	<collection ofType="MemberDto" 					property="member">
		<result column="USER_NAME" 						property="userName"/>
	</collection>	
	<collection ofType="AttachmentDto" 			property="attach">
		<result column="ORIGIN_NAME" 					property="originName" />
		<result column="MODIFY_NAME" 					property="modifyName" />
		<result column="ATTACH_PATH" 					property="attachPath" />
	</collection>
</resultMap>

<select id="ajaxSelectVacation"
resultMap="vacaResultMap">
	select
    VACATION_NO
    , VACATION_STRAT
    , VACATION_END
    , VACATION_COLOR
    , APPORVAL_STATUS
    , USER_NAME
    , CODE_NAME
    , UPPER_CODE
from 
    vacation
join 
    tb_group on (CODE = vacation.GROUP_CODE and tb_group.GROUP_CODE = 'CALD03')
join
    Member on (USER_NO = vacation.MODIFY_EMP)
where 
    vacation.STATUS = 'Y'
and 
    APPORVAL_STATUS = 'Y'
and 
    member.team_code = #{teamCode}
<![CDATA[
and 
	Months_between(VACATION_STRAT   , sysdate) <= 6
and 
	Months_between(VACATION_END		  , sysdate) >= -6
]]>
<if test="userNO != null">
and 
	vacation.MODIFY_EMP in (${userNO})
</if>
</select>

<insert id="insertVacation">
insert 
into vacation (
VACATION_NO
,VACATION_STRAT
,VACATION_END
,VACATION_COMMNET
,VACATION_COLOR
,REGIST_EMP
,MODIFY_EMP
,GROUP_CODE
)values (
	SEQ_VANO.nextval
	, to_date(#{vacaStart} , 'YYYY-MM-DD HH24:MI:SS')
	, to_date(#{vacaEnd}   , 'YYYY-MM-DD HH24:MI:SS')
	, #{vacaComment}
	, #{vacaColor}
	, #{member.userNo}
	, #{member.userNo}
	, #{group.code} 
)
</insert>

<select id="selectRequest" 
resultMap="vacaResultMap">
select 
    VACATION_NO
    , VACATION_STRAT
    , VACATION_END
    , VACATION_COMMNET
    , VACATION_COLOR
    , RETRACT_COMMNET
    , GROUP_CODE
    , APPORVAL_STATUS
    , ORIGIN_NAME 
    , MODIFY_NAME
    , ATTACH_PATH 
from vacation v
left join  attachment a on (VACATION_NO = REF_NO and REF_TYPE = 'VACT' and a.STATUS = 'Y')
where REGIST_EMP = #{userNo}
and v.STATUS = 'Y'
and APPORVAL_STATUS in ('I', 'D', 'N')
order by VACATION_NO desc 
</select>

<update id="updateVacation">
update 
	vacation
set 
	VACATION_STRAT = To_date(#{vacaStart}, 'YYYY-MM-DD HH24:MI:SS')
, VACATION_END = To_date(#{vacaEnd}, 'YYYY-MM-DD HH24:MI:SS')
, VACATION_COMMNET = #{vacaComment}
, MODIFY_EMP = #{member.userNo}
where 
    VACATION_NO = #{vacaNO}
</update>

<select id="selectVacarionCount"
resultType="_int">
select count(*)
from 
	vacation
where 
	REGIST_EMP = #{userNo}
and 
	STATUS = 'Y'
and 
	APPORVAL_STATUS = 'Y'
</select>

<select id="searchOld"
resultMap="vacaResultMap">
select 
    VACATION_NO
    , VACATION_STRAT
    , VACATION_END
    , VACATION_COLOR
    , GROUP_CODE
from vacation 
where STATUS = 'Y'
<if test="!vacaGroupCode.equals('all')">
	and GROUP_CODE = #{vacaGroupCode}
</if>
<![CDATA[
and to_char(VACATION_STRAT, 'YYYY-MM-DD') <= #{vacaStart}
and to_char(VACATION_END,   'YYYY-MM-DD') >= #{vacaStart}
and REGIST_EMP = #{member.userNo}
and APPORVAL_STATUS = 'Y'
order by VACATION_NO desc
]]>
</select>

	<update id="deleteRcequest">
	update 
		vacation
	set 
		status = 'N'
	where 
		VACATION_NO = #{vacaNo}
	</update>
	
	<update id="RRequest">
		update
			vacation
		set
			R_REQUEST_COMMENT = #{RRequestComent}
		where
			VACATION_NO = #{vacaNO}
	</update>

</mapper>
