<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매출관리</title>

    <!-- bootstrap -->
    <link href="../../../resources/css/common/bootstrap.min.css" rel="stylesheet">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/12ec987af7.js" crossorigin="anonymous"></script>

    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />

    <!-- Google Fonts Jua -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

 		<!-- socket 통신을 위한 js -->
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- 모달 관련 -->
    <script src="${ contextPath }/resources/js/iziModal.min.js"></script>
    <link rel="stylesheet" href="${ contextPath }/resources/css/iziModal.min.css">

    <!-- 체크박스 관련 스타일 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    
    <!-- alertify -->
     <script src="${ contextPath }/resources/alertify/js/alertify.min.js"></script>
		 <link href="${contextPath}/resources/alertify/css/alertify.min.css" rel="stylesheet">
		 <link href="${contextPath}/resources/alertify/css/default.min.css" rel="stylesheet">
		 <link href="${contextPath}/resources/alertify/css/semantic.min.css" rel="stylesheet">

    <!-- css -->
    <link href="../../../resources/css/common/sidebars.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../resources/css/common.css">
    <link rel="stylesheet" href="../../../resources/css/common/mdb.min.css" />

    <link href="../../../resources/css/sales/sales_management.css" rel="stylesheet">
</head>
<body>
    
    <!-- content 추가 -->
    <div class="content p-5">

        <!-- management page start -->
        <div class="sales-management-page">

            <h1 class="page-title">이용권 매출관리</h1>

            <!-- main top start(filter) -->
            <div class="main-top">

                <!-- year filter area start -->
                <div class="filter-div year-filter-div">

                    <!-- year select -->
                    <select class="filter-select form-control py-2">
                        <option>2018년</option>
                        <option>2018년</option>
                        <option>2018년</option>
                    </select> 

                    <!-- year sales info -->
                    <div class="filter-table">
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">총 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">평균 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">최고 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">최저 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        
                        
                    </div>

                </div>
                <!-- year filter area end -->

                <!-- month filter area start -->
                <div class="filter-div year-filter-div">

                    <!-- year select -->
                    <select class="filter-select form-control py-2">
                        <option>2018년</option>
                        <option>2018년</option>
                        <option>2018년</option>
                    </select> 

                    <!-- year sales info -->
                    <div class="filter-table">
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">총 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">평균 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">최고 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">최저 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        
                        
                    </div>

                </div>
                <!-- month filter area end -->

                <!-- day filter area start -->
                <div class="filter-div day-filter-div">

                    <!-- day select -->
                    <select class="filter-select form-control py-2">
                        <option>2018년</option>
                        <option>2018년</option>
                        <option>2018년</option>
                    </select> 

                    <!-- day sales info -->
                    <div class="filter-table">
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">총 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">평균 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">최고 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        <div class="d-flex mb-2 justify-content-between">
                            <b class="filter-table-title">최저 매출액</b>
                            <span class="filter-table-content">2000</span>
                        </div>
                        
                        
                    </div>

                </div>
                <!-- day filter area end -->

            </div>
            <!-- main top end(filter) -->

            <div class="chart-filter-div d-flex">
                <span class="chart-filter btn btn-secondary-outline">총 매출액</span>
                <span class="chart-filter btn btn-secondary-outline">평균 매출액</span>
            </div>

            <!-- main bottom start (chart) -->
            <div class="main-bottom">
                <div class="chart-left h-5 w-5" style="border: 1px solid tomato; height: 100px;">

                </div>

                <div class="chart-right h-5 w-5" style="border: 1px solid tomato; height: 100px;">

                </div>
                    

            </div>
            <!-- main bottom end (chart) -->
        
        </div>
        <!-- mangement page end -->
    
    </div>
    <!-- content 끝 -->

</body>
</html>