<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="attractionMapper">
	
	<!-- 어트랙션 등록 -->
	<insert id="insertAttraction" parameterType="AttractionDto">
		insert 
		  into tb_attraction
		  	   (
		  	    attraction_no
		  	   ,location
		  	   ,regist_emp
		  	   ,modify_emp
		  	   ,attraction_name
		  	   ,attraction_intro
		  	   ,customer_limit
		  	   ,age_limit
		  	   ,age_limit_range
		  	   ,height_limit
		  	   ,height_limit_range
		  	   ,status
		  	   ,status_reason
		  	   )
		 values 
		 		(
		 		 seq_atrtno.nextval
		 		,#{location}
		 		,#{registEmp}
		 		,#{modifyEmp}
		 		,#{attractionName}
		 		,#{attractionIntro}
		 		,#{customerLimit}
		 		,#{ageLimit}
		 		,#{ageLimitRange}
		 		,#{heightLimit}
		 		,#{heightLimitRange}
		 		,#{status}
		 		,#{statusReason}
		 		)
	</insert>
	
	<!-- 어트랙션 수정 -->
	<update id="updateAttraction" parameterType="AttractionDto">
		update tb_attraction
		   set location = #{location}
		   	  ,modify_emp = #{modifyEmp}
		   	  ,attraction_name = #{attractionName}
		   	  ,attraction_intro = #{attractionIntro}
		   	  ,customer_limit = #{customerLimit}
		   	  ,age_limit = #{ageLimit}
		   	  ,age_limit_range = #{ageLimitRange}
		   	  ,height_limit = #{heightLimit}
		   	  ,height_limit_range = #{heightLimitRange}
		   	  ,status = #{status}
		   	  ,status_reason = #{statusReason}
		 where attraction_no = #{attractionNo}
	</update>
	
</mapper>
