<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="attractionMapper">
	
	<!-- 총 어트랙션 갯수 -->
	<select id="selectTotalAttractionCount" resultType="_int" parameterType="hashmap">
		select count(attraction_no) "totalAttractions"
		  from tb_attraction
		<where>
			<if test='locations != null'>
				<foreach item="location" collection="locations" open="and location in(" separator="," close=")">
					#{location}
				</foreach>
			</if>
			<if test='status != null and !"".equals(status)'>
				and tb_attraction.status = #{status}
			</if>
			<if test='keyword != null and !"".equals(keyword)'>
				and attraction_name like '%' || #{keyword} || '%'
			</if>
		</where>
	</select>
	
	<!-- 어트랙션 목록조회 -->
	<select id="selectAttractionList" resultType="hashmap" parameterType="hashmap">
		select 
			  attraction_no "attractionNo"
			 ,location_name "locationName"
			 ,attraction_name "attractionName"
			 ,customer_limit || '명' "customerLimit"
			 ,nvl2(age_limit, age_limit || '세 ' || age_limit_range, '') "ageLimit"
			 ,nvl2(height_limit, height_limit || 'cm ' || height_limit_range, '') "heightLimit"
			 ,tb_attraction.status "status"
			 ,thumbnail_url "thumbnailURL"
			 ,(
			 	 select user_name
			 		 from member
			 		where user_no = tb_attraction.regist_emp
			  ) "registEmp"
			 ,(
			 		select user_name
			 		  from member
			 		 where user_no = tb_attraction.modify_emp
			 	 ) "modifyEmp"
		 from tb_attraction
		 join tb_location on (location = location_no)
		 <where>
			<if test='locations != null'>
				<foreach item="location" collection="locations" open="and location in(" separator="," close=")">
					#{location}
				</foreach>
			</if>
			<if test='status != null and !"".equals(status)'>
				and tb_attraction.status = #{status}
			</if>
			<if test='keyword != null and !"".equals(keyword)'>
				and attraction_name like '%' || #{keyword} || '%'
			</if>
		</where>
		  order by decode(tb_attraction.status, 'OPERATING', 1),
	          decode(tb_attraction.status, 'PENDING', 2),
	          decode(tb_attraction.status, 'STOP', 3),
	          decode(tb_attraction.status, 'CLOSED', 4),
	          tb_attraction.regist_date desc,
	          tb_attraction.modify_date desc
	</select>
	
	<!-- 어트랙션 상세조회 -->
	<select id="selectAttraction" resultType="hashmap" parameterType="hashmap">
		select 
			  attraction_no "attractionNo"
			 ,location "locationNo"
			 ,location_name "locationName"
			 ,thumbnail_url "thumbnailURL"
			 ,attraction_name "attractionName"
			 ,attraction_intro "attractionIntro"
			 ,customer_limit "customerLimit"
			 ,nvl2(age_limit, age_limit, '') "ageLimit"
			 ,nvl2(age_limit, age_limit_range, '') "ageLimitRange"
			 ,nvl2(height_limit, height_limit, '') "heightLimit"
			 ,nvl2(height_limit_range, height_limit_range, '') "heightLimitRange"
			 ,tb_attraction.status "status"
			 ,status_reason "statusReason"
		 from tb_attraction
		 join tb_location on (location_no = location)
		where attraction_no = #{no}
	</select>
	
	<!-- 어트랙션 등록 -->
	<insert id="insertAttraction" parameterType="hashmap">
		insert 
		  into tb_attraction
		  	   (
		  	    attraction_no
		  	   ,location
		  	   ,manage_emp
		  	   ,regist_emp
		  	   ,modify_emp
		  	   ,attraction_name
		  	   ,attraction_intro
		  	   ,customer_limit
		  	   <if test='"Y".equals(ageLimitYN)'>
		  	     ,age_limit
		  	     ,age_limit_range
		  	   </if>
		  	   <if test='"Y".equals(heightLimitYN)'>
				  	 ,height_limit
				  	 ,height_limit_range
		  	   </if>
		  	   ,status
		  	   ,status_reason
		  	   ,thumbnail_url
		  	   )
		 values 
		 	   (
		 		 seq_atrtno.nextval
		 		,#{location}
		 		,#{manageEmp}
		 		,#{registEmp}
		 		,#{modifyEmp}
		 		,#{attractionName}
		 		,#{attractionIntro}
		 		,#{customerLimit}
		 		<if test='"Y".equals(ageLimitYN)'>
		 		  ,#{ageLimit}
		 		  ,#{ageLimitRange}
		 		</if>
		 		<if test='"Y".equals(heightLimitYN)'>
		 		  ,#{heightLimit}
		 		  ,#{heightLimitRange}
		 		</if>
		 		,#{status}
		 		,#{statusReason}
		 		,#{thumbnailURL}
		 	   )
	</insert>
	
	<!-- 어트랙션 수정 -->
	<update id="updateAttraction" parameterType="hashmap">
		update tb_attraction
		   set location = #{location}
		   	  ,modify_emp = #{modifyEmp}
		   	  ,attraction_name = #{attractionName}
		   	  ,attraction_intro = #{attractionIntro}
		   	  ,thumbnail_url = #{thumbnailURL}
		   	  ,customer_limit = #{customerLimit}
		   	  <if test='"Y".equals(ageLimitYN)'>
			   	  ,age_limit = #{ageLimit}
			   	  ,age_limit_range = #{ageLimitRange}
		   	  </if>
		   	  <if test='"Y".equals(heightLimitYN)'>		   	  
			   	  ,height_limit = #{heightLimit}
			   	  ,height_limit_range = #{heightLimitRange}
		   	  </if>
		   	  ,status = #{status}
		   	  <if test='statusReason != null'>
		   	  	,status_reason = #{statusReason}
		   	  </if>
		   	  ,modify_date = sysdate
		 where attraction_no = #{attractionNo}
	</update>
	
	<!-- 어트랙션 갯수조회(운영중, 운영중지) -->
	<select id="selectUsingAttractionCount" resultType="_int">
		select count(attraction_no)
		  from tb_attraction
		 where status in ('OPERATING', 'STOP')
	</select>
	
	<!-- 연간, 월간, 일간 전체 어트랙션별 이용률 -->
	<select id="selectAttractionUtilizationList" parameterType="hashmap" resultType="map">
		SELECT A.ATTRACTION_NO "attractionNo"
			  ,A.ATTRACTION_NAME "attractionName"
			  ,A.LOCATION "locationNo" 
			  ,TO_CHAR((
                       (SELECT  COUNT(COUNT(*)) VISITOR_USED 
                          FROM  ATTRACTION_UTILIZATION AU
                          JOIN VISITOR V ON (AU.VISITOR_NO = V.VISITOR_NO)
                         WHERE EXTRACT(YEAR FROM V.VISIT_DATE) = #{year}
                           AND AU.ATTRACTION_NO = A.ATTRACTION_NO
                         GROUP BY ATTRACTION_NO, AU.VISITOR_NO, V.VISIT_DATE) / (SELECT DECODE(COUNT(VISITOR_NO), 0, 1,  COUNT(VISITOR_NO)) TOTAL_VISITORS
                                                                                   FROM VISITOR
                                                                                  WHERE EXTRACT(YEAR FROM VISIT_DATE) = #{year})
                        ) * 100, 'FM000.00') "yearUsage"
              ,TO_CHAR((
                       (SELECT  COUNT(COUNT(*)) VISITOR_USED 
                          FROM  ATTRACTION_UTILIZATION AU
                          JOIN VISITOR V ON (AU.VISITOR_NO = V.VISITOR_NO)
                         WHERE EXTRACT(YEAR FROM V.VISIT_DATE) = #{year}
                           AND EXTRACT(MONTH FROM V.VISIT_DATE) = #{month}
                           AND AU.ATTRACTION_NO = A.ATTRACTION_NO
                         GROUP BY ATTRACTION_NO, AU.VISITOR_NO, V.VISIT_DATE) / (SELECT DECODE(COUNT(VISITOR_NO), 0, 1,  COUNT(VISITOR_NO)) TOTAL_VISITORS
                                                                                   FROM VISITOR
                                                                                  WHERE EXTRACT(YEAR FROM VISIT_DATE) = #{year}
                                                                                    AND EXTRACT(MONTH FROM VISIT_DATE) = #{month})
                        ) * 100, 'FM000.00') "monthUsage"
              ,TO_CHAR((
                       (SELECT  COUNT(COUNT(*)) VISITOR_USED 
                          FROM  ATTRACTION_UTILIZATION AU
                          JOIN VISITOR V ON (AU.VISITOR_NO = V.VISITOR_NO)
                         WHERE EXTRACT(YEAR FROM V.VISIT_DATE) = #{year}
                           AND EXTRACT(MONTH FROM V.VISIT_DATE) = #{month}
                           AND EXTRACT(DAY FROM V.VISIT_DATE) = #{date}
                           AND AU.ATTRACTION_NO = A.ATTRACTION_NO
                         GROUP BY ATTRACTION_NO, AU.VISITOR_NO, V.VISIT_DATE) / (SELECT DECODE(COUNT(VISITOR_NO), 0, 1,  COUNT(VISITOR_NO)) TOTAL_VISITORS
                                                                                   FROM VISITOR
                                                                                  WHERE EXTRACT(YEAR FROM VISIT_DATE) = #{year}
                                                                                    AND EXTRACT(MONTH FROM VISIT_DATE) = #{month}
                                                                                    AND EXTRACT(DAY FROM VISIT_DATE) = #{date})
                        ) * 100, 'FM000.00') "dailyUsage"
  		  FROM TB_ATTRACTION A
  		 WHERE A.STATUS IN ('OPERATING', 'STOP')
  		 <if test='locationNo != null and "".equals(locationNo)'>
  		   AND A.LOCATION = #{locationNo}
  		 </if>
  		 ORDER
  		 	BY "yearUsage" desc, "monthUsage" desc, "dailyUsage" desc
	</select> 
	
	<!-- 어트랙션 상세 이용률(월간, 일간) -->
	<select id="selectAttractionUtilization" parameterType="hashmap" resultType="map">
		SELECT LPAD(L, 2, 0) L
		     , TO_NUMBER(TO_CHAR(((SELECT COUNT(VISITOR_NO)
		           				 					 FROM (SELECT DISTINCT TO_CHAR(V.VISIT_DATE, 'YYYYMMDD') VISIT_DATE, A.VISITOR_NO, A.ATTRACTION_NO 
										                     FROM ATTRACTION_UTILIZATION A
										                     JOIN VISITOR V ON (A.VISITOR_NO = V.VISITOR_NO)
					                   					 )
		           									WHERE EXTRACT(YEAR FROM TO_DATE(VISIT_DATE, 'YYYYMMDD')) = #{year}
										           <choose>
										           	 <when test='"".equals(month)'>
											           	 AND EXTRACT(MONTH FROM TO_DATE(VISIT_DATE, 'YYYYMMDD')) = L
											           </when>
											           <otherwise>
											             AND EXTRACT(MONTH FROM TO_DATE(VISIT_DATE, 'YYYYMMDD')) = #{month}
											             AND EXTRACT(DAY FROM TO_DATE(VISIT_DATE, 'YYYYMMDD')) = L
											           </otherwise>
										           </choose>
										               AND ATTRACTION_NO = #{no}
									              ) / (SELECT DECODE(COUNT(VISITOR_NO), 0, 1, COUNT(VISITOR_NO))
									               			 FROM VISITOR
									              			WHERE EXTRACT(YEAR FROM VISIT_DATE) = #{year}
											              <choose>
											              	<when test='"".equals(month)'>
											              		AND EXTRACT(MONTH FROM VISIT_DATE) = L
											              	</when>
											              	<otherwise>
											              		AND EXTRACT(MONTH FROM VISIT_DATE) = #{month}
											                	AND EXTRACT(DAY FROM VISIT_DATE) = L
											              	</otherwise>
											              </choose>
		            								)) * 100, 'FM000.00')) "usage"
		  FROM (
		         SELECT LEVEL L
		           FROM DUAL
		         <choose>
		         	 <when test='"".equals(month)'>
			         	CONNECT BY LEVEL &lt;= CASE WHEN #{year} = TO_CHAR(SYSDATE, 'YYYY') THEN EXTRACT(MONTH FROM SYSDATE)
			        												 			ELSE 12
			        												 END
			         </when>
			         <otherwise>
			        	CONNECT BY LEVEL &lt;= CASE WHEN #{year} || #{month} = TO_CHAR(SYSDATE, 'YYYYMM') THEN EXTRACT(DAY FROM SYSDATE)
			        												 			ELSE EXTRACT(DAY FROM LAST_DAY(TO_DATE(#{year} || #{month} || '01', 'YYYYMMDD')))
			        												 END
			         </otherwise>
		         </choose>
		        )
	</select>
	
</mapper>
