.sales-management-page{
    padding: 30px;
    padding-bottom: 100px;
    box-shadow: 3px 3px 5px 2px rgb(166, 166, 166);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* -------------- page title -------------- */
.page-title{
    margin-bottom: 50px;
    font-weight: bold;
    font-family: "Jua";
}

/* ------------- main top ------------- */
.main-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}
.filter-div{
    display: inline-block;
    width: 25%;
    text-align: center;
}
.filter-select{
    width: 100%;
    box-shadow: 3px 3px 5px 2px rgb(166, 166, 166);
    border-radius: 10px;
    text-align: center;
    border: 1px solid tomato;
    margin-bottom: 10px;
    font-weight: bold;
}
.filter-table{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-shadow: 3px 3px 5px 2px rgb(166, 166, 166);
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.filter-table-title{
    width: 50%;
    font-size: 20px;
}
.filter-table-content{
    width: 40%;
    color: #6799FF;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}

/* ------------- chart filter ------------- */
.chart-filter-radio{
	display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid green;
}

/* ------------- main bottom ------------- */
button{
	display: block;
	width: 150px;
}
.main-bottom{
	width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sales-chart-div{
	width: 99%;
	height: 100%
}

text{
	font-size: 18px !important;
	font-family: "Do Hyeon" !important;
	font-weight: 0 !important;
}