<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 체크박스 관련 스타일 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <!-- <link rel="stylesheet" href="/src/main/webapp/resources/css/pretty-checkbox.min.css"> -->
</head>
<body>
    <a href="https://lokesh-coder.github.io/pretty-checkbox/#more">체크ㅡ박스</a>
    <br><br>
    <div class="pretty p-default p-curve">
        <input type="checkbox" />
        <div class="state">
            <label>Check</label>
        </div>
    </div>
    <br><br>
    <div class="pretty p-switch">
        <input type="checkbox" />
        <div class="state">
            <label>Check</label>
        </div>
    </div>
<br><br>

<div class="pretty p-icon p-curve p-thick p-jelly">
    <input type="checkbox" />
    <div class="state p-danger">
        <label>Interested</label>
    </div>
</div>

<br><br>

<div class="pretty p-default p-round p-smooth">
    <input type="checkbox" />
    <div class="state p-danger">
        <label>Monday</label>
    </div>
</div>

</body>
</html>