/* ------------- select filter div ------------- */
.select-filter-div{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.select-filter-div>select{
	width: 20%;
	text-align: center;
	height: 50px;
	border: 1px solid lightgray;
}

/* ------------- statics list div ------------- */
.statics-list-div{
	display: flex;
	justicy-content: center;
	align-items: flex-start;
	border-radius: 10px;
	margin-top: 100px;
}
tbody>tr:hover{
	cursor: pointer;
}
thead th{
	font-weight: bold !important;
	font-size: 16px !important;
	background-color: #FFF29E !important;
}
tbody>tr{
	line-height: 250% !important;
}
.td1{
	width: 40%;
}
.td2, .td3, .td4{
	width: 20%;
}

/* ------------- pagination ------------- */
nav{
	margin-top: 100px;
}
.pagination *:hover{
	cursor: pointer;
}
