/*------------- page title -------------*/
.page-title{
    margin-bottom: 50px;
    font-weight: bold;
    font-family: "Jua";
}

/* ------------- attraction status select box ------------- */

/* ------------- search form ------------- */
#filter-search{
	float: right;
	margin-bottom: 100px;
}
#keyword, #condition, #search-btn, #reset-search{
	height: 50px;
}
#condition{
    display: inline-block;
    width: 200px;
}
#keyword{
	border: 1px solid lightgray;
	width: 500px;
}

/* ------------- reset search value ------------- */
#reset-search{
	display: inline-block;
	color: #2985DB;
	width: 160px;
	align-content: center;
}
#reset-search:hover{
	cursor: pointer;
}

/*------------- attraction list -------------*/
thead tr{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.attraction-list{
    text-align: center;
}

.attraction-name-td{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
    text-align: center;
}

/* ------------- pagination ------------- */
.attraction-list-pagination{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-itmes: center;
    
}
.attraction-list-pagination>.pagination span:hover{
		cursor: pointer;
}