/* ------------- regist form content div ------------- */
.registForm{
    padding: 30px;
    padding-bottom: 100px;
    box-shadow: 3px 3px 5px 2px rgb(166, 166, 166);
    border-radius: 10px;
}

/* -------------- page title -------------- */
.page-title{
    margin-bottom: 50px;
    font-weight: bold;
    font-family: "Jua";
}

/* ------------- regist form ------------- */
.field-group{
    margin-bottom: 50px;
}
#map{
	width: 1200px;
	height: 400px;
	border-radius: 20px;
}
span.map{
	width: 250px;
	padding: 10px 10px 10px 10px;
	margin-left: 15px;
	border-radius: 20px;
	border: 1px solid lightgray;
}
.field-title{
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

.thumbnail-div{
	display: flex;
	justify-content: center;
}
#thumbnail-preview:hover{
	cursor: pointer;
}
#thumbnail-preview{
	border: 1px solid lightgray;
	height: 400px;
	width: 1200px;
	border-radius: 20px;
}

#attraction-name, #attraction-manage-emp, #attraction-intro{
    width: 1200px;
}

#attraction-location, #capacity-limit, #attraction-status{
    display: inline-block;
    width: 200px;
    margin-right: 60px;
}

input[name=statusReason]{
		display: block;
		width: 1000px;
		margin-top: 20px;
}

.age-limit, .height-limit{
    display: inline-block;
}
#age-limit, #height-limit{
    margin-left: 30px;
    width: 250px;
}
.age-limit>select, .height-limit>select{
    display: inline-block;
    margin-left: 20px;
    width: 100px;
}

#attraction-intro{
    resize: none;
}
.button-group{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.button-group>button{
	 width: 30%;
    padding: 15px 0 15px 0;
    font-size: 18px;
    border-radius: 10px;
}

