/*------------- page title -------------*/
.page-title{
    margin-bottom: 50px;
    font-weight: bold;
    font-family: "Jua";
}

/* ------------- map ------------- */
#map{
		height: 400px;
		width: 100%;
		border-radius: 20px;
		margin-bottom: 20px;
		vertical-aligin: center;
		margin-right: auto;
		margin-left: auto;
}

/* ------------- search form ------------- */
#filter-search{
	float: right;
	margin-bottom: 20px;
}
#keyword, #condition, #search-btn, #reset-search{
	height: 50px;
}
#condition{
    display: inline-block;
    width: 200px;
}
#keyword{
	border: 1px solid lightgray;
	width: 500px;
}

/* ------------- reset search value ------------- */
#reset-search{
	display: inline-block;
	color: #2985DB;
	width: 160px;
	align-content: center;
}
#reset-search:hover{
	cursor: pointer;
}

/*------------- attraction list -------------*/
thead{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
thead th{
	font-weight: bold !important;
	font-size: 16px !important;
	vertical-align: middle;
	background-color: #FFF29E !important;
}
tbody>tr{
	line-height: 250% !important;
}
td{
	vertical-align: middle;
	text-align: center;
	
}
.attraction-list{
  text-align: center;
}

.attraction-name{
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  margin-bottom: 0;
  text-align: center;  
  width: 20%;
}
.attraction-location{
	width: 10%;
}
.attraction-customer-limit{
	width: 10%;
}
.attraction-age-limit{
	width: 10%;
}
.attraction-height-limit{
	width: 10%;
}
.attraction-status{
	width: 10%;
}
.attraction-status>select{
	width: 120px;
}
.attraction-regist-emp{
	width: 10%;
}
.attraction-modify-emp{
	width: 10%;
}
.attraction-modify-button{
	width: 10%;
}

/* ------------- pagination ------------- */
.attraction-list-pagination{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-itmes: center;
    
}
.attraction-list-pagination>.pagination span:hover{
		cursor: pointer;
}