/*------------- page title -------------*/
.page-title{
    margin-bottom: 50px;
    font-weight: bold;
    font-family: "Jua";
}

/* ------------- attraction status select box ------------- */
.attraction-status{
    width: 300px;
}

/* ------------- search form ------------- */
#search-form{
    float: right;
}
.search-condition, .search-keyword{
    display: inline-block;
}
.search-condition{
    display: inline-block;
    width: 100px;
}
#search-keyword{
    display: inline-block;
    width: 350px;
}
#search-form button{
    margin-top: -5px;
}

/*------------- attraction list -------------*/
thead tr{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.attraction-name-td{
    text-align: center;
}
.attraction-name{
    display: inline-block;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
    text-align: center;
}