@charset "UTF-8";

.left_con{
    display: flex;
    flex-direction: column;
    margin: auto;
     
}
.left_con h3{font-size: 50px; text-align: center;}
.left_con>div{margin: 20px; padding-bottom: 20px;}

.sing_name{
    height: 100px;
    width: 130px;
    border: 1px solid black;
}

#sign_table{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: CENTER;
    height: 100%;
    border: 3px solid WHITE;
    margin-left: 5px;
}
#sign_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:1130px;
    margin: auto;

}

#sign_div_left{
    padding-right: 270px;
}


#sign_left{width: 310px; border: 1px solid black; height:auto;}
#sign_left tr{height: 50px; border: 1px solid black;}
#sign_table tr>th{width: 50px; }
.left_td{height:30px;}
#sign_left td{width: 130px;}
#sign_left th{width: 130px;}
table th{background-color: #feefad9e; border: 1px solid black;}
table td{border: 1px solid black;}
table input{border: 1px solid black;}
table textarea{border: 1px solid black;}

#signs_s{height:auto; width:auto;}

/*---모달 스타일--------*/
.m_content_style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

#m_co_top{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#m_co1{
          width: 50%; 
          height: 100%; 
          display: flex; 
          flex-direction: column;
          background-color: #ffffff; /* 배경색 */
          border: 2px solid #333; /* 테두리 */
          border-radius: 10px; /* 테두리 모서리를 둥글게 만듦 */
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
          padding: 3px; /* 안쪽 여백 */
          margin: 3px; /* 바깥 여백 */
      }
#m_co2{
          width: 50%;
          height: 100%;
          display: flex; 
          flex-direction: column;
          background-color: #ffffff; /* 배경색 */
          border: 2px solid #333; /* 테두리 */
          border-radius: 10px; /* 테두리 모서리를 둥글게 만듦 */
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
          padding: 8px; /* 안쪽 여백 */
          margin: 8px; /* 바깥 여백 */

      }
#m_co1 button { border: none; background-color: white; text-align: left;}
#reset_div{width: 50px; display: flex; justify-content: end; align-items: end; height: 100%;}
#reset_button{background-color: white; border: 1px solid white;}
#reset_button>svg{color: red;}

#tr_name{height: 30px;}
#m_co1 ul{display: none;}
/*#modal_btn{width: 100%; border:#ffffff solid 2px; background-color: #ffffff;; height: auto; font-size: 20px; font-weight: bold; text-align: center;}*/

/*----------------*/




        
