.page-title{
    margin-bottom: 50px;
    font-weight: bold;
    font-family: "Jua";
}

/* ------------- board category ------------- */
#general-page-category, #writer-page-category{
	display: inline-block;
    width: 200px;
}
#department{
	display: inline-block;
	margin-left: 50px;
	width: 200px;
}

/* ------------- search form ------------- */
#filter-search{
	float: right;
}
#keyword, #condition, #search-btn, #reset-search{
	height: 40px;
}
#condition{
    display: inline-block;
    width: 150px;
}
#keyword{
	border: 1px solid lightgray;
}

/* ------------- reset search value ------------- */
#reset-search{
	display: inline-block;
	color: #2985DB;
	width: 160px;
	align-content: center;
}
#reset-search:hover{
	cursor: pointer;
}

/* ------------- board list ------------- */
.board-list{
    margin-top: 100px;
    text-align: center;
}
thead th{
	font-weight: bold !important;
	font-size: 16px !important;
	background-color: #FFF29E !important;
}
tbody>tr{
	line-height: 250% !important;
}
.board-list tbody>tr>.board-title{
    cursor: pointer;
}
.bi-star:hover{ 
    cursor: pointer; 
}
.board-writer-profile{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 100px;
}
.td0, .td1, .td4, .td5, .td6{
	width: 10%;
}
.td3{
	width: 20%;
}
.trashcan-icon:hover{
	cursor: pointer;
}

/* ------------- pagination ------------- */
.board-list-pagination{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-itmes: center;
    
}
.board-list-pagination>.pagination span:hover{
		cursor: pointer;
}