.page-title{
    margin-bottom: 50px;
    font-weight: bold;
    font-family: "Jua";
}

/* ------------- board category ------------- */
#category{
		display: inline-block;
    width: 200px;
}
#department{
		display: inline-block;
		margin-left: 50px;
		width: 200px;
}

/* ------------- search form ------------- */
#search-form{
    float: right;
}
#condition{
    display: inline-block;
    width: 100px;
}
#keyword{
    display: inline-block;
    width: 350px;
}
#search-form button{
    margin-top: -5px;
}

/* ------------- board list ------------- */
.board-list{
    margin-top: 150px;
    text-align: center;
}
.board-list tbody>tr>.board-title{
    cursor: pointer;
}
.bi-star:hover{ 
    cursor: pointer; 
}
.board-writer-profile{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* ------------- pagination ------------- */
.board-list-pagination{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-itmes: center;
    
}
.board-list-pagination>.pagination span:hover{
		cursor: pointer;
}