.post-form{
    padding: 30px;
    padding-bottom: 100px;
    box-shadow: 3px 3px 5px 2px rgb(166, 166, 166);
    border-radius: 10px;
}

/* -------------- page title -------------- */
.page-title{
    margin-bottom: 50px;
    font-weight: bold;
    font-family: "Jua";
}

/* ------------- post form -------------*/
.field-group{
    margin-bottom: 50px;
}
.field-title{
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

#post-form select{
    display: inline-block;
    width: 250px;
    margin-right: 50px;
}

#board-title, #attachment-div{
    width: 1000px;
}

#add-attachment{
	display: inline-block;
	margin-left: 15px;
	align-item: center;
}
#add-attachment:hover{
	cursor: pointer;
}
small{
	color: #909090;
}

.button-group{
    margin-left: 650px;
}
.button-group>button{
    margin-left: 20px;
}