*{
    box-sizing: border-box;
}
.content{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 30px;
}
.main-content{
    display: flex;
    justify-content: space-between;
}
.main-content-left{
    display: flex;
    flex-direction: column;
    width: 23%;
}
.main-content-right{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.profile-attend-div, .weather-clock-div{
    border-radius: 9px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
h4, h5{
    font-weight: bold;
    font-family: "Jua";
}

.table>:not(caption)>*>*{
	background-color: yellow;
}

/* ------------- 시간 & 날씨 ------------- */
.weather-clock-div{
    border-radius: 9px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #b2d4ff;
}

.date-time-div{
    width: 25%;
    min-height: 30px;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
}

.weather-div{
    width: 50%;
    min-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
}
.weather-div>*{
	margin-right: 25px;
	font-size: 23px;
	font-family: 'Roboto';
	font-weight: bold;
	color: white;
}
/* ------------- 프로필 & 출퇴근 영역 ------------- */
.profile-attend-div{
    background-color: #fff8e3;
    border-radius: 9px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.profile-attend-div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.profile-img-div{
    border-bottom: 1px solid lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.profile-img-div>img{
    display: block;
    width: 70%;
    height: 70%;
    border-radius: 100px;
}

.profile-attend{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ------------- 접속자 ------------- */
.login-user-list-div{
    background-color: #fff8e3;
    border-radius: 9px;
    padding: 15px;
    margin-bottom: 30px;
    height: 700px;
    overflow-x: auto;
    overflow-y: auto;
}
.schedule-color{
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 100px;
}


/* ------------- 근태현황 ------------- */
.my-attend{
    background-color: #fff8e3;
    border-radius: 9px;
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my-attend-content{
    display: flex;
}
.my-attend-select-div{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.my-attend-info-div{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.my-attend-select-div>select{
    width: 150px;
}
.attend-info{
    width: 80px;
    height: 80px;
    background-color: rgb(238 238 238);
    border-radius: 50px;;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

/* ------------- 공지목록 ------------- */
.notice-list-div{
    display: flex;
    flex-direction: column;
    background-color: #fff8e3;
    border-radius: 9px;
    padding: 15px;
    margin-bottom: 30px;
}
.notice-category{
		display: flex;
		justify-content: flex-end;
}
.notice-category>span{
		padding: 5px 20px 5px 20px;
		background-color: white;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.notice-category>span:hover{
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		cursor: pointer;
}

.list-title:hover{
		cursor: pointer;
}
.list-title{
    width: 60%;
}
.list-writer{
		width: 20%;
}
.list-date{
    width: 20%;
}

.writer-profile{
		width: 20px;
		height: 20px;
		border-radius: 100px;
}

/* ------------- 캘린더 ------------- */
.calendar-div{
    display: flex;
    flex-direction: column;
    background-color: #fff8e3;
    border-radius: 9px;
    padding: 15px;
    margin-bottom: 30px;
}
#calendar{
		height: 500px;
}

/* ------------- 기웅 추가 알림 -----------*/
.alram-div {
	width: 100%;
  display: flex;
  justify-content: flex-end;
}
	
.alram-btn {
	box-shadow: none;
}	

.alram_el {
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.alram_date {
	margin-right: 10px;
}

.b-example-divider {
	height: 1500px;
}