.box{
	padding: 30px;
   box-shadow: 3px 3px 5px 2px rgb(166, 166, 166);
   border-radius: 10px;
}

/* ------------- header ------------- */
.home-nav{
	display: flex;
	justity-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	max-height: 280px;
	margin-bottom: 30px;
}

.home-nav>.menu:hover{
	opacity: 0.6;
}
.home-nav *:hover{
	cursor: pointer;
}
.home-nav .icon{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid lightgray;
	border-radius: 100px;
	width: 50px;
	height:50px;
}

/* --------------- content ------------- */
.content-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile, .calendar{
	width: 100%;
	margin-bottom: 30px;
}

